@charset 'UTF-8';

.big-menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: $white;
  z-index: $zindex-navbar-fixed;
  opacity: 0;
  transform: translateY(-100%);
  transition:
    transform 0.5s,
    opacity 0.5s;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}

.container-big-menu {
  margin-top: 122px;
  padding: $grid-gutter-width;
  @media (min-width: $screen-sm-min) {
    margin-left: 6.56rem;
    padding: 0 $grid-gutter-width 0 0;
  }
}

// When Drupal admin bar is display horizontal - add bigger margin

body.toolbar-tray-open.toolbar-fixed.toolbar-horizontal {
  .container-big-menu {
    margin-top: 190px;
  }
}
