@charset 'UTF-8';

.swiper-empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 67%;
  background: $white;
  border-right: 1px solid $light-grey;
  border-left: 1px solid $light-grey;
  z-index: $zindex-navbar-fixed;
  transition: opacity 0.25s ease-out;

  &.inactive {
    opacity: 0;
    pointer-events: none;
  }

  @media only screen and (min-width: $screen-md) {
    min-height: calc(100vh - 80px - #{$grid-gutter-width*2});
  }
}
