@charset 'UTF-8';

.big-menu-secondary-nav {
  position: relative;
  margin: 0 $grid-gutter-width*-1;

  @media only screen and (min-width: $screen-sm-min) {
    margin-left: -6.56rem;
  }

  @media only screen and (min-width: $screen-md-min) {
    margin: 0;
    background: none;
  }

  ul li {
    a {
      line-height: 2em;
    }
  }
}
