@charset 'UTF-8';

.breadcrumb-extranet {
  .dropdown-toggle {
    padding: 4px 12px;
    border: 1px solid $light-gray;
    font-family: $font-family-sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

  .dropdown-menu {
    li {
      display: block;
    }

    > li > a {
      padding-right: 12px;
      padding-left: 12px;
    }
  }

  @each $label, $color in $themes {
    &.breadcrumb-extranet-#{$label} {
      .dropdown-toggle {
        border-color: $color;
        color: $color;
      }

      .dropdown-toggle:focus {
        border-color: darken($color, 20%);
        color: darken($color, 20%);
      }
    }
  }
}
