@charset "utf-8";

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 50px;
  border: 1px solid $brand-primary;
  border-radius: $border-radius-base;
  box-shadow: 0 50px 75px -45px $shadow-gray;
  overflow: hidden;

  @include theme(border-color);

  .pull-left & {
    margin: 0 ($grid-gutter-width / 2) ($grid-gutter-width / 2) 0;
  }

  .card-cta-container &,
  .pull-right & {
    margin: 0 0 ($grid-gutter-width / 2) ($grid-gutter-width / 2);
  }
}

/**
 * Border variants
 */

.card-light { border-color: $ligthen-gray !important; }
.card-no-border { border: none; }

/**
 * Card as a Link
 */

a.card,
.card-hover {
  transition:
    border 0.25s ease-in-out,
    box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    border-color: darken($brand-primary, 10);

    & {
      box-shadow: 0 65px 75px -45px darken($shadow-gray, 0.3);
    }

    @include theme(border-color, hover-color);
  }
}

a.card {
  color: $text-color;

  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    color: $text-color;
  }

  .card-title {
    @include theme(color);
  }
}

a.card-light,
.card-hover.card-light {
  &:hover {
    border-color: darken($ligthen-gray, 20%) !important; // override card-light
  }
}

.card-cta-container {
  float: right;

  @media screen and (max-width: $screen-xs-max) {
    float: none;
  }

  .card {
    @media screen and (max-width: $screen-xs-max) {
      max-width: none;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      padding: 0;
      border: none;
      text-align: center;
    }
  }
}

.card-cta {
  display: inline-flex;
  margin: 0 auto;
  align-self: center;
  padding-top: $grid-gutter-width/2;

  @media screen and (max-width: $screen-xs-max) {
    display: none;
  }
}

a.card-bg-hover,
.card-bg-hover {
  background-color: $white;
  color: $brand-primary;
  transition:
    color 0.25s ease-in-out,
    background 0.25s ease-in-out,
    box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  @include theme(color, color);

  &:hover {
    background-color: darken($brand-primary, 10);
    color: $white;

    @include theme(background-color, hover-color);

    & {
      box-shadow: 0 65px 75px -45px darken($shadow-gray, 0.3);
    }
  }
}

/**
 * Card Image
 */

.card-img-top {
  display: flex;
  position: relative;
  min-height: 100px;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    background: linear-gradient(to bottom, $brand-primary 0%, $transparent 100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;

    @include theme-custom() {
      background-image: linear-gradient(to bottom, $color 0%, $transparent 100%);
    }
  }

  a.card:hover & {
    &:before {
      opacity: 0.1;
    }
  }

  .retraitespopulaires-icon {
    margin: ($grid-gutter-width / 2) auto 0;
  }
}

.card-img-top-left .retraitespopulaires-icon {
  margin-left: ($grid-gutter-width / 2);
  color: $brand-primary;

  @include theme(color);
}

a.card-img-top {
  &:hover {
    &:before {
      opacity: 0.1;
    }
  }
}

.card-img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;

  .card-img-top-center & {
    display: block;
    width: auto;
    max-height: 196px;
    margin: 0 auto;
  }
}

.card-img-bg {
  flex: 1 1 auto;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;

  .card-img-top-center & {
    background-size: initial;
  }
}

/**
 * Card Texts
 */

.card-subhead {
  margin-bottom: 0;
  font-size: $font-size-h5;
  font-weight: 700;
  color: $text-muted;
}

.card-title {
  margin-top: 0;
  margin-bottom: $grid-gutter-width / 2;

  @include font-secondary;

  .card-light & {
    color: $gray;
  }
}

.card-body {
  padding: $grid-gutter-width;

  > *:last-child {
    margin-bottom: 0;
  }
}

/**
 * Card Footer
 */

.card-footer {
  margin-top: auto;
  padding: $grid-gutter-width;
}

/**
 * Card layout
 */

.card-horizontal {
  @media (min-width: $screen-sm-min) {
    flex-direction: row;

    > * {
      width: 100%;
    }
  }
}

.card-separator {
  margin: ($line-height-computed / 2) 0;
  border-color: lighten($hr-border, 20%);
}

/**
 * Card formats
 */

.card-justify {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .card-title {
    margin-right: $grid-gutter-width / 2;
    margin-bottom: 0;
  }
}

/**
 * Background variants
 */
@mixin card-bg-variant($color) {
  background-color: $color;

  .pretty-link { @include pretty-link-text-shadow($color); }
}

.card-white { @include card-bg-variant($white); }
.card-berrylight-gray { @include card-bg-variant($berrylight-gray); }

/**
 * Styles
 */

.card-no-shadow { box-shadow: none; }

.card-funky-waves {
  margin-top: -70px;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
    margin-top: -110px;
  }

  @media (min-width: $screen-lg-min) {
    margin-top: -200px;
  }

  @media (min-width: $screen-xl-min) {
    margin-top: -300px;
  }
}

/**
 * Card shadow sizes
 */

.card-shadow-md {
  box-shadow: 0 20px 25px -20px $shadow-gray;
}

/**
 * Card sizes
 */

.card-sm,
.card-md {
  .card-body,
  .card-footer {
    padding: ($line-height-computed / 2);
  }
}

.card-md {
  max-width: 250px;
}

.card-sm {
  max-width: 150px;
}
