@charset 'UTF-8';

.card-attachement {
  width: 100%;
  background: $white;
  border: 1px solid $ligthen-gray;
  border-radius: $border-radius-large;

  .card-title {
    padding: $grid-gutter-width;
    color: $gray;
  }

  .card-content {
    margin-bottom: $grid-gutter-width;
    padding: 0 $grid-gutter-width/2;

    li {
      margin: $grid-gutter-width / 1.5 0;
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
      border: 1px solid $transparent;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        cursor: pointer;
        border: 1px solid $ligthen-gray;
        border-radius: $border-radius-base;
      }
    }

    .media-left {
      line-height: 0;
    }
  }

  .card-footer {
    padding: $grid-gutter-width;
    background: $ligthen-gray;
  }

  @each $label, $color in $themes {
    &.card-attachement-#{$label} {
      .media-left a {
        color: $color;
      }

      .retraitespopulaires-icon {
        color: $color;
      }
    }

    /* stylelint-disable max-nesting-depth */
    /* More readable with 4 levels sorry */

    &.card-attachement-#{$label} .card-content {
      a.pretty-link {
        @include pretty-link($black, $white, $color);
      }
    }

    &.card-attachement-#{$label} .card-footer {
      a.pretty-link {
        @include pretty-link($black, $ligthen-gray, $color);
      }
    }
    /* stylelint-enable max-nesting-depth */
  }
}
