@charset 'UTF-8';
//@import '../../../global/utils/init';

$color-rp-black: #333;
$color-white: #fff;
$color-black: #000;
$shadow-gray-medium-light: rgba(0, 0, 0, 0.1);

$bp-xxsm: 320px;
$bp-xsm: 480px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-sl: 1024px;
$bp-lg: 1200px;
$bp-xl: 1600px;
$bp-xxl: 2400px;

$bp: (
  xxs: $bp-xxsm,
  xs: $bp-xsm,
  sm: $bp-sm,
  md: $bp-md,
  sl: $bp-sl,
  lg: $bp-lg,
  xl: $bp-xl,
  xxl: $bp-xxl,
);

@function bp($key) {
  @if map-has-key($bp, $key) {
    @return map-get($bp, $key);
  }

  @warn "Unknown `#{$key}` in `#{$bp}`.";

  @return null;
}

@mixin shadow-carousel() {
  box-shadow: 0 0 15px $shadow-gray-medium-light;
}

.carousel {
  &-indicators {
    width: 40px;
    margin: 0 0 0 50%;
    padding-left: 0;
    border: $color-rp-black 1px solid;
    border-radius: 10px;
    font-size: 10px;
    z-index: 15;
    text-align: center;
    list-style: none;
    transform: translateX(-50%);
    breakpoint(0 bp(sm)) {
      margin: 0 auto -40px;
    }

    .active {
      width: 12px;
      height: 12px;
      margin: 0;
      background-color: $carousel-indicator-active-bg;
    }
  }

  &-inner {
    margin-left: 15px;
    border-radius: 5px;

    @media screen and (max-width: $screen-xs-max) {
      margin-left: 0;
    }
  }

  &-control {
    &.left {
      left: -5px;
    }

    &.right {
      right: -5px;
    }

    &.left,
    &.right {
      background: $color-white;
    }

    .retraitespopulaires-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: small;
      color: $color-black;
      transform: translate(-50%, -50%);
    }
  }

  .immo-offers-card-title {
    margin-top: 30px;
    margin-left: -15px;
    //font-weight: 300;

    @media screen and (max-width: $screen-xs-max) {
      margin-top: 15px;
      margin-left: 10px;
    }
  }

  .pills {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 30px;
    padding-top: 15px;
  }

  .notification-pill {
    display: flex;
    padding: 0 2px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: white;
  }

  .imm-label {
    float: left;
    color: #1a1a1a;
    opacity: 60%;
  }

  .imm-value {
    float: right;
    font-weight: 600;
    color: #333;
  }

  .imm-price {
    float: right;
    font-weight: 600;
    color: #02a163;
  }

  .immo-offers-tile .immo-offers-card-btn {
    height: 50px;
    margin-left: 15px;
    margin-top: 25px;
    padding-top: 12px;

    @media screen and (max-width: 640px) {
      height: 75px;
    }
  }

  .immo-offers-tile .immo-offers-card-img {
    display: inline-block;
    max-width: inherit;
    max-height: 100%;
    height: 280px;

    @media screen and (min-width: 1600px) {
      height: 350px;
    }
  }

  .retraitespopulaires-icon-portal-chevron-left:before {
    content: "<";
  }

  .retraitespopulaires-icon-portal-chevron-right:before {
    content: ">";
  }

  .carousel-control.left,
  .carousel-control.right {
    background: #fff;
  }

  .carousel-control.left {
    left: -5px;
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 70px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 1;
    font-size: 20px;
    color: #fff;
    transform: translate(0, -50%);
    z-index: 11;
    text-shadow: none;
    text-align: center;
  }

  .immo-offers-tile {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 280px;
    margin: 12px 0;
    overflow: hidden;
    border-radius: 5px;
  }

  .immo-offers-card-data {
    margin-left: 30px;

    @media screen and (max-width: $screen-xs-max) {
      margin-left: 0;
    }
  }

  .immo-offers-card {
    display: flex;
    background-color: #f3f3f3;

    @media screen and (max-width: $screen-xs-max) {
      flex-direction: column-reverse;
      padding-bottom: 15px;

      div:last-child {
        padding: 0;
      }
    }
  }
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;

  > .item {
    display: none;
    position: relative;

    @include transition(0.6s ease-in-out left);

    // Account for jankitude on images
    > img,
    > a > img {
      @include img-responsive;

      line-height: 1;
    }

    // WebKit CSS3 transforms for supported devices
    @media all and (transform-3d), (-webkit-transform-3d) {
      @include transition-transform(0.6s ease-in-out);
      @include backface-visibility(hidden);
      @include perspective(1000px);

      &.next,
      &.active.right {
        @include translate3d(100%, 0, 0);

        left: 0;
      }

      &.prev,
      &.active.left {
        @include translate3d(-100%, 0, 0);

        left: 0;
      }

      &.next.left,
      &.prev.right,
      &.active {
        @include translate3d(0, 0, 0);

        left: 0;
      }
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }

  > .prev {
    left: -100%;
  }

  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }

  > .active.right {
    left: 100%;
  }
}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $carousel-control-width;
  background-color: rgba(0, 0, 0, 0); // Fix IE9 click-thru bug
  font-size: $carousel-control-font-size;
  color: $carousel-control-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;

  @include opacity($carousel-control-opacity);
  // We can't have this transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation.

  // Set gradients for backgrounds
  &.left {
    @include gradient-horizontal($start-color: rgba(0, 0, 0, 0.5), $end-color: rgba(0, 0, 0, 0.0001));
  }

  &.right {
    right: 0;
    left: auto;

    @include gradient-horizontal($start-color: rgba(0, 0, 0, 0.0001), $end-color: rgba(0, 0, 0, 0.5));
  }

  // Hover/focus state
  &:hover,
  &:focus {
    color: $carousel-control-color;
    text-decoration: none;
    outline: 0;

    @include opacity(0.9);
  }

  // Toggles
  .icon-prev,
  .icon-next,
  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
    margin-top: -10px;
  }

  .icon-prev,
  .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
  }

  .icon-next,
  .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
  }

  .icon-prev,
  .icon-next {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1;
  }

  .icon-prev {
    &:before {
      content: "\2039";// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
    }
  }

  .icon-next {
    &:before {
      content: "\203a";// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
    }
  }
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $carousel-caption-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;

  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}

// Scale up controls for tablets and up
@media screen and (min-width: $screen-sm-min) {

  // Scale up the controls a smidge
  .carousel-control {
    .glyphicon-chevron-left,
    .glyphicon-chevron-right,
    .icon-prev,
    .icon-next {
      width: ($carousel-control-font-size * 1.5);
      height: ($carousel-control-font-size * 1.5);
      margin-top: ($carousel-control-font-size / -2);
      font-size: ($carousel-control-font-size * 1.5);
    }

    .glyphicon-chevron-left,
    .icon-prev {
      margin-left: ($carousel-control-font-size / -2);
    }

    .glyphicon-chevron-right,
    .icon-next {
      margin-right: ($carousel-control-font-size / -2);
    }
  }

  // Show and left align the captions
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
}
