@charset "utf-8";

.collapser-menu ul,
ul.collapser-menu {
  list-style: none;
}

.collapser-menu {
  margin-top: 152px;

  .collapser-first-level {
    &.toggled {
      position: relative;
      margin-right: ($grid-gutter-width / -2);
      margin-left: ($grid-gutter-width / -2);
      background: $white;
      border-right: ($grid-gutter-width / 2) solid $white;
      border-left: ($grid-gutter-width / 2) solid $white;

      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 1.3em;
        left: 50%;
        width: 100vw;
        height: 1px;
        margin-left: -50vw;
        border-bottom: 1px solid $light-gray;
      }

      &:after {
        margin-bottom: ($grid-gutter-width / 2);
        border-bottom: 1px solid $light-gray;
      }
    }
  }

  ul#main-navigation > li {
    border-bottom: 1px solid $black;
  }

  ul ul {
    padding-left: 1.3em;

    li {
      position: relative;
    }
  }

  ul ul ul {
    list-style-type: none;
    padding-left: $grid-gutter-width * 0.75;
    border-left: 1px solid $light-gray;

    li:before {
      content: none;
    }
  }

  .organic-lines {
    margin-bottom: 20px;
  }
}

.collapser-first-level {
  .collapser-menu-collapse {
    li {
      margin-right: 18px;
    }

    .collapser-menu-item {
      margin-bottom: 0px;
    }

    li:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }

    a {
      font-weight: 300;
      color: $black;
    }
  }
}

.collapser-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.666em;
  margin-bottom: $grid-gutter-width * 0.35;

  a {
    font-weight: 700;
    background: none;
    color: $black;
  }

  &:hover {
    text-decoration: none;
  }

  .btn {
    background: $white;

    &:focus,
    &:hover,
    &:active {
      outline: none;
      color: $gray;
    }
  }

  .btn:not(.collapsed) {
    .retraitespopulaires-icon {
      transform: scaleY(-1);
    }
  }
}

.container-collapser-menu .bg-berrylight-gray a {
  color: $black;
}

// When Drupal admin bar is display horizontal - add bigger margin
body.toolbar-tray-open.toolbar-fixed.toolbar-horizontal {
  .container-collapser-menu {
    margin-top: 190px;
  }
}
