@charset 'UTF-8';

.collapse-open-hide {
  &:not(.collapsed) {
    display: none;
  }
}

.collapse-wrapper {
  border-bottom: 1px solid $light-gray;
}

.collapse-title {
  padding: 1em 1em 0.6em;
  transition: background 0.25s ease;
  cursor: pointer;

  .collapse-button {
    padding: 5px;
    background-color: $white;
    border-radius: $border-radius-base;
    line-height: 0;
    transition: background 0.5s ease;

    &:hover {
      background: $white;
    }
  }

  i:before {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
  }

  .button-bubble {
    margin-left: 0;

    .bubble-icon {
      padding: 0.5em;
      font-size: 30px;
    }

    i:before {
      transform: rotate(90deg);
    }
  }

  .inline-block {
    display: inline-block;
    vertical-align: middle;
  }

  &.collapsed,
  .collapsed {
    i:before {
      transform: rotate(0);
    }
  }

  &:hover {
    background: lighten($gray, 50%);
  }
}

.collapse-body {
  margin: 0;

  > ul {
    padding: 0 1em 1em;
  }
}

.ckeditor-accordion-container {
  dt {
    @extend .collapse-wrapper;
    @extend .collapse-title;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-size-h5;

    &.active {
      .ckeditor-accordion-toggle {
        transform: rotate(90deg);
      }
    }
    a {
      @extend h5;
      display: flex;
      width: 100%;
    }
  }

  dd {
    @extend .collapse-body;
    @extend .collapse-wrapper;
    display: none;
  }

}

.ckeditor-accordion-toggle {
  @extend .button-bubble;
  @extend .inline-block;
  font-size: 30px;
  transform: rotate(0);
  transition: transform 0.5s ease;
  &:before {
    height: 62px;
    width: 62px;
    display: flex;
    align-items: center;
    padding: 0.5em;
    background: $green;
    border-radius: 4em;
    @include theme(background-color);
    font-family: 'retraitespopulaires-icon';
    font-style: normal;
    font-weight: normal;
    content: $retraitespopulaires-icon-arrow-right;
    color: $white;
  }
}
