@charset "utf-8";

/* Document cards section */
.document-card-list-section {
  position: relative;

  .document-card-list-bg {
    position: absolute;
    width: 100vw;
    height: 100%;
    margin-left: -16px;
    background-color: $berrylight-gray;
    z-index: -1;

    @media screen and (min-width: $screen-md-min) {
      left: 27.4%; /* Magic number */
      width: 100vw;
      margin-left: -50vw;
    }

    @media screen and (min-width: $screen-lg-min) {
      left: 34.4%; /* Magic number */
    }

    @media screen and (min-width: $screen-xl-min) {
      left: 50%;
    }
  }
}

.document-card-list .document-card {
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

/* Document card */
.document-card {
  display: flex;
  padding: 2rem 2.5rem 2rem 1.5rem;
  background-color: $white;
  border-radius: $border-radius-base;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.015),
    0 2px 2px rgba(0, 0, 0, 0.015),
    0 4px 4px rgba(0, 0, 0, 0.015),
    0 8px 8px rgba(0, 0, 0, 0.015),
    0 16px 16px rgba(0, 0, 0, 0.015);
}

.document-card-icon {
  margin-right: 1rem;
  color: $brand-primary;
}

.document-card-content {
  flex-grow: 1;

  @media (min-width: $screen-sm-min) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.document-card-text {
  padding-top: 0.5rem;
}

.document-card-title {
  margin-top: 0;
  font-size: $font-size-h5;
  color: $text-color;
}

.document-card-subtitle {
  margin-bottom: 0;
  font-size: $font-size-base;
}

.document-card-number {
  margin-top: 0.5rem;
  color: $text-muted;
}

.document-card-btn {
  margin-top: 1rem;

  @media (min-width: $screen-sm-min) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}
