@charset "utf-8";

.document-card {
  display: flex;
  padding: 2rem 2.5rem 2rem 1.5rem;
  border-radius: $border-radius-base;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.015),
    0 2px 2px rgba(0, 0, 0, 0.015),
    0 4px 4px rgba(0, 0, 0, 0.015),
    0 8px 8px rgba(0, 0, 0, 0.015),
    0 16px 16px rgba(0, 0, 0, 0.015);
}

.document-card-icon {
  margin-right: 1rem;
  color: $brand-primary;
}

.document-card-content {
  flex-grow: 1;
  padding-top: 0.5rem;

  @media (min-width: $screen-sm-min) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.document-card-title {
  margin-top: 0;
  font-size: $font-size-h5;
  color: $brand-primary;
}

.document-card-subtitle {
  margin-bottom: 0;
  font-size: $font-size-base;
}

.document-card-number {
  margin-top: 0.5rem;
  color: $text-muted;
}

.document-card-btn {
  margin-top: 1rem;

  @media (min-width: $screen-sm-min) {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}
