@charset "UTF-8";

.dropdown-menu {
  > li > a {
    padding: 0.3em 0.7em;
  }
}

.selectize-dropdown-content {
  > div {
    padding: 2px 10px;
    cursor: pointer;
    color: $dropdown-link-color;

    &.active {
      background-color: $dropdown-link-hover-bg;
      color: $dropdown-link-hover-color;
    }
  }
}
