@charset 'UTF-8';

.navbar {
  margin-bottom: 0;
  min-height: inherit;
  border: 0;

  .sticky-navbar {
    display: flex;

    .img-sticky {
      display: none;
      width: 40px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  li {
    a {
      display: inline-block;
      position: relative;
      padding-bottom: 0.8em;
      font-weight: 700;
      color: $black;
      transition: color 0.25s ease-in-out;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 0;
        background-color: $brand-primary;
        transition: height 0.15s ease-in-out;

        @include theme(background-color);
      }

      &:hover,
      &:focus {
        color: $brand-primary;
        text-decoration: none;

        &:after {
          height: 4px;
        }

        @include theme(color);
      }
    }

    &.active {
      @include theme(border-bottom-color);

      > a {
        color: $brand-primary;

        &:after {
          height: 4px;
        }

        @include theme(color);
      }
    }
  }
}

.img-sticky-mandant {
  display: none;
  width: 95px;
  margin-top: 70px;
}
