@charset 'UTF-8';

.navbar {
  margin-bottom: 0;
  min-height: auto;
  border: 0;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    padding-bottom: 1.2em;

    a {
      color: $black;
      transition: color 0.25s ease-in-out;

      &:hover {
        color: $brand-primary;
        text-decoration: none;

        @include theme(color);
      }
    }

    &.active {
      border-bottom: 4px solid $brand-primary;

      @include theme(border-bottom-color);

      > a {
        color: $brand-primary;

        @include theme(color);
      }
    }
  }
}
