@charset 'UTF-8';

.popin-container {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 0;
  max-width: 414px;

  @media (max-width: $screen-xs-max) {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $screen-xs-max) {
    top: 50%;
    right: 0;

    // To show only the icon that at 16px left and right
    // For IE with can't use calc(100% - 32px - 1em) instead of seperate this...
    transform: translate(100%, -50%) translate(-32px) translate(-1em);
    transition: 0.5s;

    &.popin-container-collapsing {
      transform: translate(-#{$grid-gutter-width}, -50%);

      .popin-collapse-desktop {
        transform: scaleX(-1);
      }
    }
  }

  .btn-primary {
    background-color: darken($brand-primary, 10%);
  }

  .form-group label {
    color: $white;
  }
}

.popin {
  margin-bottom: 0;
  background-color: map-deep-get($themes, 'primary', 'color');

  @media (max-width: $screen-xs-max) {
    flex: 1 1 auto;
    order: 1;
    text-align: center;

    &.show {
      order: 2;
      flex: inherit;
      width: 100%;

      .popin-title-container {
        display: inherit;
      }

      .popin-collapse-show-mobile {
        display: none;
      }
    }

    &:not(.show) {
      .popin-collapse {
        display: none;
      }
    }
  }

  @media (min-width: $screen-xs-max) {
    .popin-collapse-show-mobile {
      display: none;
    }
  }
}

.popin-collapse {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;

  .popin-body {
    padding: 15px 20px 0;
  }
}

.popin-header,
.popin-title-closed {
  display: flex;
  width: 100%;
  padding: 16px;
  background-color: map-deep-get($themes, 'primary', 'hover-color');
  border-right: 1px solid $shadow-gray;
  border-bottom: 1px solid $shadow-gray;
  color: $white;

  a {
    width: 100%;
    color: $white;
  }
}

.popin-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  &.collapsed {
    .retraitespopulaires-icon-angle {
      transform: scaleY(-1);
    }
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.popin-icon {
  margin-right: 16px;
}
