@charset 'UTF-8';

.push-menu {
  position: fixed;
  top: 0;
  right: -70vw;
  width: 70vw;
  height: 100%;
  padding: $grid-gutter-width;
  background: $brand-primary;
  color: $white;
  z-index: $zindex-modal + 10;
  overflow: auto;

  @media only screen and (min-width: $screen-sm-min) {
    right: -40vw;
    width: 40vw;
  }

  @media only screen and (min-width: $screen-md-min) {
    display: none;
  }

  a {
    color: $white;
  }

  @each $label, $color in $themes {
    &.push-menu-#{$label} {
      background: $color;
    }
  }
}

/* Trick the body to allow push from left */

body {
  position: relative;
  transition: transform 0.3s ease-in-out;

  @media only screen and (max-width: $screen-md-min) {
    &.menu-push-toright {
      position: relative;
      height: 100%;
      overflow: hidden;
      transform: translateX(-70vw);

      @media only screen and (min-width: $screen-sm-min) {
        transform: translateX(-40vw);
      }
    }
  }
}
