@charset 'UTF-8';

.push-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: -70vw;
  width: 70vw;
  height: 100vh;
  padding: $grid-gutter-width 0;
  background: $brand-primary;
  color: $white;
  z-index: $zindex-modal + 10;
  overflow: auto;

  @include theme(background-color);

  @media only screen and (min-width: $screen-xs-min) {
    right: -40vw;
    width: 40vw;
  }

  @media only screen and (min-width: $screen-sm-min) {
    right: -30vw;
    width: 30vw;
  }

  @media only screen and (min-width: $screen-md-min) {
    display: none;
  }

  .main-navigation {
    li {
      margin-bottom: $grid-gutter-width;
    }
  }

  .secondary-navigation {
    li {
      margin-bottom: $grid-gutter-width / 4;
      font-weight: normal;

      &.active a {
        color: $white;
      }
    }
  }

  .main-navigation li,
  .secondary-navigation li {
    padding: 0 $grid-gutter-width;

    &.active {
      padding-left: $grid-gutter-width - 6px;
      border-left: 6px solid white;
    }

    a:hover {
      color: $white;
    }
  }

  a {
    color: $white;
  }
}

/* Trick the body to allow push from left */

body {
  position: relative;
  transition: transform 0.3s ease-in-out;

  @media only screen and (max-width: $screen-md-min) {
    &.menu-push-toright {
      position: relative;
      height: 100%;
      overflow: hidden;
      transform: translateX(-70vw);

      @media only screen and (min-width: $screen-xs-min) {
        transform: translateX(-40vw);
      }

      @media only screen and (min-width: $screen-sm-min) {
        transform: translateX(-30vw);
      }
    }
  }
}
