@charset 'UTF-8';

$active-border-width: 4px;

.secondary-nav {
  position: relative;

  @media only screen and (min-width: $screen-md-min) {
    margin-left: -1.5rem;
  }

  .btn-contact {
    display: none;

    @media only screen and (min-width: $screen-md-min) {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      justify-content: center;
    }

    .retraitespopulaires-icon {
      margin-right: 1rem;
      color: $white;
    }
  }
}

.secondary-nav-content {
  display: block;
  margin-bottom: 1.5rem;
  padding-bottom: 2.5rem;
  background: $white;
  border: 1px solid $ligthen-gray;

  @media only screen and (min-width: $screen-md-min) {
    display: inline-block;
    width: 240px;
    margin-bottom: 0;
    margin-left: $grid-gutter-width * 1.5;
  }

  @media only screen and (min-width: $screen-lg-min) {
    width: 320px;
  }

  .title {
    margin-top: 0;
    padding: $grid-gutter-width / 1.5;
    padding-bottom: 1rem;
    color: $brand-primary;

    @include theme(color);
  }

  .links li {
    padding: 8px $grid-gutter-width / 1.5;
    padding-left: ($grid-gutter-width / 1.5) - $active-border-width;
    border-left: $active-border-width solid transparent;

    &.active {
      background-color: $berrylight-gray;
      border-left: $active-border-width solid $brand-primary;

      .pretty-link {
        text-decoration: none;
        background-image: none;
        text-shadow: none;
      }

      @include theme-custom() {
        background-color: tint($color, 50%);

        .pretty-link {
          $bg: tint($color, 50%);

          @include pretty-link(color-contrast($bg), $bg, color-contrast($bg));
        }
      }
    }
  }

  .links .no-padding {
    border-left: none;
  }

  .links-children li { padding-left: $grid-gutter-width * 1.5; }

  .links-children .links-children li { padding-left: $grid-gutter-width * 2.25; }
}
