@charset 'UTF-8';

.secondary-nav {
  position: relative;

  .back {
    position: absolute;
    top: 0;
    width: $grid-gutter-width * 1.5;
    min-height: $grid-gutter-width * 4;
    padding-top: $grid-gutter-width / 2;
    background: $brand-primary;
    text-align: center;

    @include theme(background-color);

    .retraitespopulaires-icon {
      display: block;
      color: $white;
    }
  }

  @media only screen and (min-width: $screen-md-min) {
    margin-left: -16px;
  }
}

.secondary-nav-content {
  display: block;
  margin-left: $grid-gutter-width * 1.5;
  background: $white;
  border: 1px solid $ligthen-gray;

  @media only screen and (min-width: $screen-md-min) {
    display: inline-block;
  }

  .title {
    padding: $grid-gutter-width / 1.5;
    border-bottom: 1px solid $ligthen-gray;
    color: $brand-primary;

    @include theme(color);
  }

  .links li {
    padding: 8px $grid-gutter-width / 1.5;

    &.active {
      background-color: $brand-primary;

      .pretty-link {
        @include pretty-link($white, $brand-primary, $white);
      }

      @include theme-custom() {
        background-color: tint($color, 50%);

        .pretty-link {
          $bg: tint($color, 50%);

          @include pretty-link(color-contrast($bg), $bg, color-contrast($bg));
        }
      }
    }
  }

  .links-children li { padding-left: $grid-gutter-width * 1.5; }

  .links-children .links-children li { padding-left: $grid-gutter-width * 2.25; }
}
