@charset 'UTF-8';

.teaser-contact-placeholder {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  border: 1px solid $brand-primary;
  border-radius: $border-radius-base;

  .teaser-contact-placeholder-heading {
    position: relative;
    width: 100%;

    .heading-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
    }
  }

  .teaser-contact-placeholder-body {
    width: 100%;
    margin: 0;
    padding: $grid-gutter-width/2;
    background: $white;
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    color: $text-color;
  }

  hr {
    width: 10%;
    margin: $grid-gutter-width/2 0;
    border-top-color: $light-gray;
  }

  @each $label, $color in $themes {
    &.teaser-contact-placeholder-#{$label} {
      border-color: $color;
    }
  }
}
