@charset 'UTF-8';

.teaser-contact-detail {
  padding: $grid-gutter-width;
  background-color: $berrylight-gray;
  border-radius: $border-radius-base;

  .teaser-contact-detail-infos {
    margin-top: $grid-gutter-width / 2;

    a {
      display: block;
      margin-bottom: $grid-gutter-width / 4;
      padding: $grid-gutter-width / 4;
      background-color: $white;
      color: $brand-primary;
      transition: all 0.25s ease-in-out;

      .label { color: $black; }

      > div {
        transition: all 0.25s ease-in-out;
      }
    }

    a:hover {
      background-color: $brand-primary;
      color: $white;
      text-decoration: none;

      .label { color: $white; }
    }
  }

  @each $label, $color in $themes {
    &.teaser-contact-detail-#{$label} .teaser-contact-detail-infos {
      a { color: $color; }

      a:hover {
        background-color: $color;
        color: $white;
      }

      a:hover > div { color: $white; }
    }
  }
}

.teaser-contact-detail-title {
  margin-top: 0;
}
