@charset 'UTF-8';

.teaser-news {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
  background-color: $white;
  border: 1px solid $brand-primary;
  border-radius: $border-radius-base;

  &.teaser-fullclick {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
  }

  .news-heading {
    position: relative;
    width: 100%;
    height: 196px;

    .heading-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
    }
  }

  .news-body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: 0;
    padding: $grid-gutter-width/2;
    color: $text-color;
  }

  .news-extra {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 100%;
    margin-top: auto;
    line-height: 1em;

    .news-type { text-align: right; }
  }

  @each $label, $color in $themes {
    &.teaser-news-#{$label} {
      border: 1px solid $color;
    }
  }
}
