@charset 'UTF-8';
@charset 'UTF-8';

.teaser-profil {
  margin: 0 auto;
  max-width: 900px;
  border: 1px solid $brand-primary;
  border-radius: $border-radius-base;

  .profil-heading {
    padding: $grid-gutter-width/2;
  }

  .profil-body {
    padding: $grid-gutter-width/2;
    color: $text-color;
  }
}
