@charset 'UTF-8';

.teaser-news {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
  border: 1px solid $light-gray;
  border-radius: $border-radius-base;

  .news-heading {
    position: relative;
    width: 100%;
    height: 196px;

    .heading-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
    }
  }

  .news-body {
    margin: 0;
    padding: $grid-gutter-width/2;
    color: $text-color;
  }

  .news-extra {
    display: flex;
    justify-content: space-between;
    line-height: 1em;

    .news-type { text-align: right; }
  }
}
