@charset 'UTF-8';

.teaser-contact {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  border: 1px solid $brand-primary;
  border-radius: $border-radius-base;

  .contact-heading {
    width: 100%;
  }

  .contact-body {
    margin: 0;
    padding: $grid-gutter-width/2;
    color: $text-color;
  }

  hr {
    width: 10%;
    margin: $grid-gutter-width/2 0;
    border-top-color: $light-gray;
  }

  .form-inline {
    display: flex;
    flex-direction: column;
  }

  @each $label, $color in $themes {
    &.teaser-contact-#{$label} {
      border-color: $color;
    }
  }

  @media only screen and (min-width: $screen-sm-min) {
    .form-inline {
      flex-direction: row;

      .form-group { margin-right: $grid-gutter-width/2; }
    }
  }

  @media only screen and (min-width: $screen-lg-min) {
    display: flex;
    flex-direction: column;

    .contact-heading {
      height: 196px;
    }
  }
}
