@charset 'UTF-8';

figure.teaser-gallery {
  position: relative;
  cursor: pointer;

  .figure-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($brand-primary, 0.3);
    border: 4px solid $brand-primary;
    opacity: 0;
    transition: opacity 0.5s ease;

    @include theme-custom() {
      background-color: rgba($color, 0.3);
      border-color: $color;
    }

    i,
    p {
      color: $white;
      text-shadow: 1px 1px 3px rgba($black, 0.8);
    }

    p {
      margin-top: $grid-gutter-width / 2;
    }
  }

  &:hover .figure-overlay {
    opacity: 1;
  }

  img {
    width: 100%;
  }
}
