{% if variables.offers %}
<div class="attachements-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 last-news-heading">
        <h2 class="h2 pull-left">{% trans %}Coupons Bella vita{% endtrans %}</h2>
      </div>
    </div>
    <div class="row same-height-group">
      {% for offer in variables.offers %}
        {% if loop.index0 % 2 == 0 %}</div><div class="row same-height-group">{% endif %}
        <div class="col-xs-12 col-md-6 same-height">
          {{ load_block('rp_offers_offer_teaser_block', {'offer': offer}) }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="organic-lines hidden-print lines-{{ variables.theme }}"></div>
</div>
{% endif %}
