{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% if attributes.datepicker %}<div class="input-group">{% endif %}
  {%
    set classes = [
    attributes.type != 'checkbox' and attributes.type != 'radio' ? 'form-control',
    attributes.datepicker ? 'datepicker',
  ]
  %}
  <input{{ attributes.addClass(classes) }} />{{ children }}
  {% if attributes.datepicker %}
  <span class="input-group-btn">
    <button class="btn btn-{{ attributes.datepickerbtn ? 'primary' : 'invert' }}" type="button" aria-label="{% trans %}Choisir la date{% endtrans %}">
      <span class="retraitespopulaires-icon retraitespopulaires-icon-lg retraitespopulaires-icon-calendar" aria-hidden="true"></span>
    </button>
  </span>
</div>
{% endif %}