{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{%
  set classes = [
    'btn',
    attributes.button_primary.__toString == empty ? '' : 'btn-primary',
    attributes.button_block.__toString == empty ? '' : 'btn-block',
    attributes.theme.__toString == empty ? '' : 'btn-'~attributes.theme.__toString,
    'webform-button--submit' in attributes.class and attributes.theme.__toString == empty ? 'btn-'~theme_guesser(),
  ]
%}
{% if attributes.icon.__toString == empty %}
  <input{{ attributes.addClass(classes) }} />{{ children }}
{% else %}
  <button {{ attributes.addClass(classes) }} type="submit">
    <i class="{{ attributes.icon.__toString }}"></i>
  </button>
{% endif %}
