{% if variables.advisors %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2 class="h1 text-center">
      {% trans %}Retraites Populaires peut vous aider ! Voici la liste des conseillers.{% endtrans %}
      </h2>
      <div class="spacer spacer-md"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row flex-row">
        {% for advisor in variables.advisors %}
        <div class="col-xs-12">
          {{ load_block('rp_contact_contact_teaser_block', {'contact': advisor, 'theme': variables.theme,  'search_npa': false}) }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
