{% if variables.popin %}
  <div class="popin alert alert-dismissible" role="dialog" aria-labelledby="popin-title" aria-describedby="popin-body">
    <div class="popin-header">
      <a href="#popin-content" id="tracking-popin-collapse" class="popin-title-container collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="popin-body">
        <span class="retraitespopulaires-icon retraitespopulaires-icon-angle m-r-1" aria-hidden="true"></span>
        <p class="popin-title m-y-0" id="popin-title">{{ 'Nous prenons contact avec vous'|t }}</p>
      </a>
      <p class="popin-title-closed m-y-0 hidden"></p>
      <button id="tracking-popin-close" type="button" class="close" data-dismiss="alert" aria-label="{{ 'Fermer la fenêtre de dialogue'|t }}">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="collapse popin-body" id="popin-content">
      <div class="popin-body p-t-1">
        {{ load_form('rp_contact', 'PopinForm', {'mail_to': variables.popin_mail_to}) }}
      </div>
    </div>
  </div>
{% endif %}
