{% if variables.popin %}
  <div id="rp-popin-block">
    {# #rp-popin-block .popin-title will be updated by the form using ajax. #}
    <div class="popin-title">{{ 'Nous prenons contacte avec vous'|t }}</div>
    <div class="popin-body">
      {{ load_form('rp_contact', 'PopinForm') }}
    </div>
  </div>
{% endif %}
