{% if variables.popin %}
  <div class="popin alert alert-primary alert-dismissible" role="dialog" aria-labelledby="popin-title" aria-describedby="popin-body">
    <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'Fermer la fenêtre de dialogue'|t }}">
      <span aria-hidden="true">&times;</span>
    </button>
    <a href="#popin-content" class="popin-title-container collapsed" id="popin-title" data-toggle="collapse" aria-expanded="false" aria-controls="popin-body">
      <p class="popin-title m-y-0">{{ 'Nous prenons contact avec vous'|t }}</p>
      <span class="retraitespopulaires-icon retraitespopulaires-icon-angle pull-right" aria-hidden="true"></span>
    </a>
    <div class="collapse" id="popin-content">
      <div class="popin-body p-t-1">
        {{ load_form('rp_contact', 'PopinForm') }}
      </div>
    </div>
  </div>
{% endif %}
