<div id="contactez-nous" class="attachments-contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 attachments-contact-heading">
        <div class="h2">{% trans %}Retraites&nbspPopulaires est à votre disposition{% endtrans %}</div>
        <div><a href="{{ path('entity.node.canonical', {'node': 50 }) }}" class="pretty-link pretty-link-berrylight-gray text-{{ variables.theme }}">{% trans %}Contacter Retraites&nbsp;Populaires{% endtrans %}</a></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        {% if variables.contacts %}
          {% for contact in variables.contacts %}
            {{ load_block('rp_contact_contact_teaser_block', {'node': variables.node, 'contact': contact, 'theme': variables.theme, 'search_npa': variables.node.field_search_npa.value}) }}

            {% if not loop.last %}<div class="spacer spacer-sm"></div>{% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
