{% if variables.popin %}
  <div>
    <p>Laissez-nous votre email ou votre téléphone. Nous prendrons contact avec vous rapidement.</p>
    {{ load_form('rp_contact', 'PopinForm') }}
  </div>
{% endif %}
