{% if variables.contacts %}
<div class="pull-right">
  <a href="#contactez-nous" class="card card-white card-md">
    <div class="card-cta">
      <div class="retraitespopulaires-icon retraitespopulaires-icon-3x retraitespopulaires-icon-contact-us-borderless text-primary" aria-hidden="true"></div>
    </div>
    <div class="card-body text-secondary">
      <div class="btn btn-primary">{{ 'Nous contacter'|t }}</div>
    </div>
  </a>
</div>
{% endif %}
