<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="page-title text-center">{% trans %}Le spécialiste vaudois de l'assurance vie et de la prévoyance professionnelle{% endtrans %}</h1>
    <div class="spacer"></div>
  </div>
</div>

{{ load_block('rp_site_news_latest_block') }}
