@charset 'UTF-8';

// Specific for drupal CKEditor

.entity-body {
  table {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding-left: 2.5rem;
  }

  ul li {
    margin-bottom: 0.5rem;
  }

  /* Custom bullets */
  ul li:before {
    content: "\2022";
    display: inline-block;
    width: 1.25em;
    margin-left: -1.25em;
    font-weight: bold;
    color: $brand-primary;
  }

  ol {
    @extend .ordered-list;
  }

  a:not(.no-style):not(.btn) {
    @include pretty-link($black, $white, $brand-primary);
  }

  img {
    display: block;
    height: auto;
    margin: 0 auto 10px;
    max-width: 100%;
  }

  p,
  img,
  ul,
  ol,
  iframe,
  table {
    margin-bottom: 3rem;
  }

  img + figcaption {
    margin-bottom: 3rem;
    margin-top: -2rem;
  }

  .img-responsive {
    width: 100%;
  }

  .full-width {
    position: relative;

    @media screen and (min-width: $screen-md-min) {
      left: 27.4%; /* Magic number */
      width: 100vw;
      max-width: none;
      margin-left: -50vw;
    }

    @media screen and (min-width: $screen-lg-min) {
      left: 34.4%; /* Magic number */
    }

    @media screen and (min-width: $screen-xl-min) {
      left: 50%;
    }
  }

  .full-width-row {
    margin-bottom: 3rem;

    @media screen and (min-width: $screen-md-min) {
      display: flex;
      min-height: 480px;
    }
  }

  .full-width-row .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    @media screen and (min-width: $screen-md-min) {
      width: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Needs IE polyfill */
      margin-bottom: 0;
    }
  }

  .full-width .col-text {
    padding: 2rem;
    background: $gray-lighter;

    @media screen and (min-width: $screen-md-min) {
      padding: 3rem 6rem;
    }
  }
}
