@charset 'UTF-8';

/* stylelint-disable selector-no-id */
/* Drupal specific */

#toolbar-administration {
  z-index: 3000;

  li {
    font-size: 13px;
  }
}

.toolbar-fixed .header {
  position: static;
}

/* stylelint-enable selector-no-id */
