
/**
* Fonts
*/

$font-primary: 'Frutiger Neue', arial, sans-serif !default;
$font-secondary: 'Cocon Pro', arial, sans-serif !default;
$font-mandant: 'Maven Pro', arial, sans-serif !default;

// Fallback for external partners, TODO removed when contacted partners

.text-primary,
.text-frutiger {
  /* stylelint-disable declaration-no-important */
  /* Need it to override */
  font-family: $font-primary !important;
  /* stylelint-enable declaration-no-important */
}

// Fallback for external partners, TODO removed when contacted partners

.text-secondary,
.text-cocon {
  /* stylelint-disable declaration-no-important */
  /* Need it to override */
  font-family: $font-secondary !important;
  /* stylelint-enable declaration-no-important */
}

/* stylelint-disable declaration-no-important */
/* Need it to override */
body.font-mandant {
  .text-secondary { font-family: $font-mandant !important; }

  h1,
  .h1,
  h2,
  .h2 { font-family: $font-mandant; }

  .product-heading { font-family: $font-mandant; }

  .pagination .number > a { font-family: $font-mandant; }

  .form-control { font-family: $font-mandant; }

  .btn { font-family: $font-mandant; }

  blockquote { font-family: $font-mandant; }
}
/* stylelint-enable declaration-no-important */

@font-face {
  font-family: Cocon Pro;
  src: url('../fonts/CoconLight.eot');
  src:
    url('../fonts/CoconLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CoconLight.woff') format('woff'),
    url('../fonts/CoconLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Frutiger Neue;
  src: url('../fonts/FrutigerNeueLTW1G-Light.eot');
  src:
    url('../fonts/FrutigerNeueLTW1G-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FrutigerNeueLTW1G-Light.woff') format('woff'),
    url('../fonts/FrutigerNeueLTW1G-Light.ttf') format('truetype'),
    url('../fonts/FrutigerNeueLTW1G-Light.svg#frutigernewregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Frutiger Neue;
  src: url('../fonts/FrutigerNeueLTW1G-Regular.eot');
  src:
    url('../fonts/FrutigerNeueLTW1G-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FrutigerNeueLTW1G-Regular.woff') format('woff'),
    url('../fonts/FrutigerNeueLTW1G-Regular.ttf') format('truetype'),
    url('../fonts/FrutigerNeueLTW1G-Regular.svg#frutigernewregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Frutiger Neue;
  src: url('../fonts/FrutigerNeueLTW1G-Bold.eot');
  src:
    url('../fonts/FrutigerNeueLTW1G-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FrutigerNeueLTW1G-Bold.woff') format('woff'),
    url('../fonts/FrutigerNeueLTW1G-Bold.ttf') format('truetype'),
    url('../fonts/FrutigerNeueLTW1G-Bold.svg#frutigernewlight') format('svg');
  font-weight: 700;
  font-style: normal;
}
