@charset 'UTF-8';

.list-no-style { list-style-type: none; }

.list-no-padding {
  margin: 0;
  padding: 0;
}

.list-inline li { display: inline-block; }

.inline-block { display: inline-block; }

/**
* Angles
*/

.angle {
  display: inline-block;

  &.angle-down {
    transform: rotate(45deg);
  }

  &.angle-up {
    transform: rotate(-45deg);
  }

  &.angle-force-top {
    transform: rotate(-90deg);
  }
}

/**
* Alignments of blocks
*/

.align-h {
  margin: 0 auto;
}

.align-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.align-vh {
  position: relative;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
}
