@charset 'UTF-8';

@mixin pretty-link($color: $link-color, $bg: $white, $line: $link-color) {
  text-decoration: none;
  // Underline via gradient background
  background-image: linear-gradient($line 0%, $line 100%);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 95%;
  color: $color;
  // Clear descendors from underline
  transition: color 0.25s ease-in-out;

  @include pretty-link-text-shadow($bg);

  // Tweak position + thickness for high res (1.75x and up) displays
  @media (min-resolution: 168dpi) {
    background-image: linear-gradient($line 0%, $line 100%);
    background-position: 0 93%;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(to bottom, $color 0%, $color 100%);
    color: $line;
  }

  &:focus {
    text-decoration: none;
  }

  // Style selected links (or else text-shadow makes it look crazy ugly)
  // Pseudo selectors must go separately, or they break each other

  &::selection {
    background-color: lighten($line, 15%);
    color: $text-color;
    text-shadow: none;
  }

  // Internet Explorer/Edge ≥ 10
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background-image: none;
    text-shadow: none;
    border-bottom: 1px solid $line;

    &:hover {
      cursor: pointer;
      background-image: none;
      border-bottom: 1px solid $color;
      color: $line;
    }

    &::selection {
      background-color: none;
      color: $text-color;
      text-shadow: none;
    }
  }
}

@mixin pretty-link-text-shadow($color, $important:"") {
  text-shadow:
    3px 0 $color,
    2px 0 $color,
    1px 0 $color,
    -1px 0 $color,
    -2px 0 $color,
    -3px 0 $color unquote($important);
}

@mixin btn-outline-variant($color) {
  background: transparent;
  border-color: $link-color;
  color: $link-color;

  @include theme(border-color color);

  &:hover,
  &:focus, {
    background-color: $link-color;
    border-color: $link-color;
    color: $white !important;

    @include theme(background-color border-color);
  }

  .open &.dropdown-toggle {
    color: $link-hover-color !important;
  }

  &:active,
  &:hover:active,
  &:active:focus {
    background-color: $link-hover-color;
    border-color: $link-hover-color;

    @include theme(background-color border-color, hover-color);
  }
}

@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Font Cocon Pro always has a font-weight: 300
@mixin font-secondary {
  font-family: $font-secondary;
  font-weight: 300;
}

@function tint($color, $percent) {
  @return mix(white, $color, $percent);
}

/**
 * From
 * https://codepen.io/bluesaunders/pen/FCLaz/?editors=0100
 */

// Calculeate brightness of a given color.
@function brightness($color) {
  @return ((red($color) * 0.299) + (green($color) * 0.587) + (blue($color) * 0.114)) / 255 * 100%;
}

// Compares contrast of a given color to the light/dark arguments and returns whichever is most "contrasty"
@function color-contrast($color, $dark: $text-color, $light: $white) {
  @if $color == null {
    @return null;
  }

  @else {
    $color-brightness: brightness($color);
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);

    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}
