@charset 'UTF-8';

@mixin pretty-link($color: $link-color, $bg: $white) {
  text-decoration: none;
  // Underline via gradient background
  background-image: linear-gradient(rgba($color, 0.25) 0%, $color 100%);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 95%;
  color: $color;
  // Clear descendors from underline
  text-shadow:
    3px 0 $bg,
    2px 0 $bg,
    1px 0 $bg,
    -1px 0 $bg,
    -2px 0 $bg,
    -3px 0 $bg;

  // Tweak position + thickness for high res (1.75x and up) displays

  @media (min-resolution: 168dpi) {
    background-image: linear-gradient(rgba($color, 0.25) 0%, $color 100%);
    background-position: 0 93%;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(to bottom, darken($color, 6%) 0%, darken($color, 6%) 100%);
    color: darken($color, 11%);
  }

  // Style selected links (or else text-shadow makes it look crazy ugly)
  // Pseudo selectors must go separately, or they break each other

  &::selection {
    background-color: lighten($color, 15%);
    color: $text-color;
    text-shadow: none;
  }
}
