@charset 'UTF-8';

/**
* Colors Profession
*/

$themes: (
  assurance: $deep-yellow,
  prevoyance: $deep-orange,
  immobilier: $deep-red,
  hypotheque: $deep-blue,
  institution: $deep-purle,
  institutionnel: $deep-brown,
  profelia: $deep-green,
  cpev: $light-green,
  cip: $light-blue,
);

/**
* Text colors
*/

@each $label, $color in $themes {
  .text-#{$label} {
    color: $color;
  }
}

/**
* Links
*/

/* stylelint-disable no-duplicate-selectors */
/* Make the code unreadable otherwise */

p a,
a.pretty-link {
  @include pretty-link($link-color);

  &.pretty-link-black {
    @include pretty-link($black, $white);
  }

  &.pretty-link-white {
    @include pretty-link($white, $green);
  }

  &.pretty-link-light-grey {
    @include pretty-link($green, $light-grey);
  }
}

a.pretty-link-hover {
  color: $black;

  &:hover {
    @include pretty-link($link-color);
  }
}

@each $label, $color in $themes {
  .text-#{$label},
  a.text-#{$label} {
    &.pretty-link,
    a.pretty-link {
      @include pretty-link($color, $white, $color);
    }
  }

  .pretty-link-hover-#{$label},
  a.pretty-link-hover-#{$label} {
    color: $black;

    &.text-muted {
      color: $gray-light;
    }

    &:hover {
      @include pretty-link($color, $white, $color);
    }
  }

  a.text-black-#{$label} {
    &.pretty-link {
      @include pretty-link($black, $white, $color);
    }
  }
}

/* stylelint-enable */
