@charset 'UTF-8';

* {
  -webkit-font-smoothing: antialiased;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

h1,
.h1,
h2,
.h2 {
  font-family: $font-cocon;
  font-weight: 300;
}

h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: $font-frutiger;
  font-weight: 700;
}

h6,
.h6 {
  font-family: $font-frutiger;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

p,
abbr,
cite,
li,
ol {
  font-family: $font-frutiger;
}

.text-small {
  font-size: $font-size-small;
}

.text-large {
  font-size: ceil(($font-size-base * 1.2));
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-large;
  }
}

.text-bold {
  font-weight: 600;
}

.text-light {
  font-weight: 200;
}

/**
* Responsive Typography
*/

/* @TODO: Need review for Phablet
Extra Small Devices, Phones */
// @media only screen and (min-width: 480px) {
//
// }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  p,
  abbr,
  cite,
  li,
  ol { font-size: floor(($font-size-base * 1.1)); }

  h1,
  .h1 { font-size: floor(($font-size-h1 * 1.1)); }

  h2,
  .h2 { font-size: floor(($font-size-h2 * 1.1)); }

  h3,
  .h3 { font-size: floor(($font-size-h3 * 1.1)); }

  h4,
  .h4 { font-size: floor(($font-size-h4 * 1.1)); }

  h5,
  .h5 { font-size: floor(($font-size-h5 * 1.1)); }

  h6,
  .h6 { font-size: floor(($font-size-h6 * 1.1)); }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  p,
  abbr,
  cite,
  li,
  ol { font-size: floor(($font-size-base * 1.12)); }

  h1,
  .h1 { font-size: floor(($font-size-h1 * 1.12)); }

  h2,
  .h2 { font-size: floor(($font-size-h2 * 1.12)); }

  h3,
  .h3 { font-size: floor(($font-size-h3 * 1.12)); }

  h4,
  .h4 { font-size: floor(($font-size-h4 * 1.12)); }

  h5,
  .h5 { font-size: floor(($font-size-h5 * 1.12)); }

  h6,
  .h6 { font-size: floor(($font-size-h6 * 1.12)); }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  p,
  abbr,
  cite,
  li,
  ol { font-size: floor(($font-size-base * 1.18)); }

  h1,
  .h1 { font-size: floor(($font-size-h1 * 1.15)); }

  h2,
  .h2 { font-size: floor(($font-size-h2 * 1.15)); }

  h3,
  .h3 { font-size: floor(($font-size-h3 * 1.15)); }

  h4,
  .h4 { font-size: floor(($font-size-h4 * 1.15)); }

  h5,
  .h5 { font-size: floor(($font-size-h5 * 1.15)); }

  h6,
  .h6 { font-size: floor(($font-size-h6 * 1.18)); }
}

/* Very Large Devices, Wide/TV Screens */
@media only screen and (min-width: 1900px) {
  p,
  abbr,
  cite,
  li,
  ol { font-size: floor(($font-size-base * 1.28)); }

  h1,
  .h1 { font-size: floor(($font-size-h1 * 1.22)); }

  h2,
  .h2 { font-size: floor(($font-size-h2 * 1.22)); }

  h3,
  .h3 { font-size: floor(($font-size-h3 * 1.22)); }

  h4,
  .h4 { font-size: floor(($font-size-h4 * 1.22)); }

  h5,
  .h5 { font-size: floor(($font-size-h5 * 1.22)); }

  h6,
  .h6 { font-size: floor(($font-size-h6 * 1.28)); }
}
