@charset 'UTF-8';

* {
  -webkit-font-smoothing: antialiased;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

h1,
.h1,
h2,
.h2 {
  font-family: $font-cocon;
  font-weight: 300;
}

h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: $font-frutiger;
  font-weight: 700;
}

h6,
.h6 {
  font-family: $font-frutiger;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

p,
abbr,
cite,
li,
ol {
  font-family: $font-frutiger;
}

.text-bold {
  font-weight: 600;
}

.text-light {
  font-weight: 200;
}

/**
* Links
*/

p {
  a {
    text-decoration: none;
    // Underline via gradient background
    background-image: linear-gradient(rgba($link-color, 0.25) 0%, $link-color 100%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 95%;
    color: $link-color;
    // Clear descendors from underline
    text-shadow:
      3px 0 $white,
      2px 0 $white,
      1px 0 $white,
      -1px 0 $white,
      -2px 0 $white,
      -3px 0 $white;

    // Tweak position + thickness for high res (1.75x and up) displays

    @media (min-resolution: 168dpi) {
      background-image: linear-gradient(rgba($link-color, 0.25) 0%, $link-color 100%);
      background-position: 0 93%;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background-image: linear-gradient(to bottom, darken($link-color, 6%) 0%, darken($link-color, 6%) 100%);
      color: darken($link-color, 11%);
    }

    // Style selected links (or else text-shadow makes it look crazy ugly)
    // Pseudo selectors must go separately, or they break each other

    &::selection {
      background-color: lighten($link-color, 15%);
      color: $text-color;
      text-shadow: none;
    }
  }
}
/**
* Unordered List & Ordered List
*/

/* stylelint-disable no-duplicate-selectors */
/* Make the code unreadable otherwise */

ul,
ol {
  margin: 0;
  padding: 0;
}

ul.unordered-list {
  list-style: none;
  margin-left: $grid-gutter-width / 2;

  > ul {
    padding-left: 1.3em;
  }

  > li {
    padding-left: 0.5em;
    text-indent: -0.5em;

    &:before {
      content: '\0025A0';
      position: relative;
      top: -0.2em;
      left: -1em;
      font-size: 0.8em;
      color: $grey;
    }
  }
}

ol.ordered-list {
  list-style: none;
  counter-reset: item;

  > ol {
    padding-left: 1em;
  }

  > li {
    padding-left: 0.5em;
    text-indent: -0.5em;

    &:before {
      content: counter(item) '. ';
      counter-increment: item;
      color: $grey;
    }
  }
}
/* stylelint-enable */

/**
* Quote
*/

blockquote {
  margin: 0;
  padding: 0;
  padding-left: 0.55em;
  border-left: 0;
  font-family: $font-frutiger;
  font-size: 1.75em;
  font-weight: 300;

  p {
    display: inline;
  }

  &:before {
    content: '«';
    position: absolute;
    top: 0.6em;
    left: 0.4em;
    line-height: 0.1em;
    color: $grey;
  }

  &:after {
    content: '»';
    margin-left: 0.2em;
    color: $grey;
  }
}

/**
* Table
*/

table {
  border-collapse: collapse;
  border: 1px solid $deep-yellow;

  thead {
    background: $deep-yellow;
    color: $white;

    th {
      padding: $grid-gutter-width / 4 $grid-gutter-width / 2;
      font-weight: 400;
    }
  }

  th,
  td {
    text-align: left;
    padding: $grid-gutter-width / 2;
    border: 1px solid $deep-yellow;
  }
}

/**
* Responsive Typography
*/

/* @TODO: Need review for Phablet
Extra Small Devices, Phones */
// @media only screen and (min-width: 480px) {
//
// }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  p { font-size: floor(($font-size-base * 1.1)); }

  h1,
  .h1 { font-size: floor(($font-size-h1 * 1.1)); }

  h2,
  .h2 { font-size: floor(($font-size-h2 * 1.1)); }

  h3,
  .h3 { font-size: floor(($font-size-h3 * 1.1)); }

  h4,
  .h4 { font-size: floor(($font-size-h4 * 1.1)); }

  h5,
  .h5 { font-size: floor(($font-size-h5 * 1.1)); }

  h6,
  .h6 { font-size: floor(($font-size-h6 * 1.1)); }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  p { font-size: floor(($font-size-base * 1.12)); }

  h1,
  .h1 { font-size: floor(($font-size-h1 * 1.12)); }

  h2,
  .h2 { font-size: floor(($font-size-h2 * 1.12)); }

  h3,
  .h3 { font-size: floor(($font-size-h3 * 1.12)); }

  h4,
  .h4 { font-size: floor(($font-size-h4 * 1.12)); }

  h5,
  .h5 { font-size: floor(($font-size-h5 * 1.12)); }

  h6,
  .h6 { font-size: floor(($font-size-h6 * 1.12)); }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  p { font-size: floor(($font-size-base * 1.18)); }

  h1,
  .h1 { font-size: floor(($font-size-h1 * 1.15)); }

  h2,
  .h2 { font-size: floor(($font-size-h2 * 1.15)); }

  h3,
  .h3 { font-size: floor(($font-size-h3 * 1.15)); }

  h4,
  .h4 { font-size: floor(($font-size-h4 * 1.15)); }

  h5,
  .h5 { font-size: floor(($font-size-h5 * 1.15)); }

  h6,
  .h6 { font-size: floor(($font-size-h6 * 1.18)); }
}

/* Very Large Devices, Wide/TV Screens */
@media only screen and (min-width: 1900px) {
  p { font-size: floor(($font-size-base * 1.28)); }

  h1,
  .h1 { font-size: floor(($font-size-h1 * 1.22)); }

  h2,
  .h2 { font-size: floor(($font-size-h2 * 1.22)); }

  h3,
  .h3 { font-size: floor(($font-size-h3 * 1.22)); }

  h4,
  .h4 { font-size: floor(($font-size-h4 * 1.22)); }

  h5,
  .h5 { font-size: floor(($font-size-h5 * 1.22)); }

  h6,
  .h6 { font-size: floor(($font-size-h6 * 1.28)); }
}
