$color: 0;

/**
* Colors
*/

$white: #fff;
$black: #000;
$transparent: rgba(255, 255, 255, 0);

$green: #008e4f;
$primary-dark-green: #005e58;
$primary-orange: #ef8354;
$primary-blue: #44bad8;
$gray: #747476;
$light-gray: #ccc;
$ligthen-gray: #e8e8e8;
$berrylight-gray: #eee;
$shadow-gray: rgba(132, 132, 132, 0.5);
$mine-shaft: #333;

/**
* Colors Profession
*/
$deep-yellow: #cbb900;
$deep-orange: #b35e0a;
$deep-red: #b21f16;
$deep-blue: #005782;
$deep-brown: #663d07;

$deep-green: #009966;
$light-green: #00a261;
$light-blue: #00a3e3;
$dark-blue: #193a74;
$new-red: #d9505b;

/**
* Colors Bellvita
*/
$bv-colors: (
  "white": #ffffff,
  "black": #313131,
  "grey": #474747,
  "grey-light": #ebebeb,
  "grey-lighter": #fafafa,
  "grey-text": #777777,
  "grey-text-light": #959595,
  "green": #0ab468,
  "green-dark": #008e4f,
);

/**
* Colors Mega-menu
*/
$beige: #f8f7f2;

/**
* Colors and variables Formulaire des prets
*/
// Defaults
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// Global colors primary & secondary and more
$ph-primary: #f4834e !default;
$ph-secondary: #fdc8af !default;

// Custom range
$custom-range-track-height: 0.125rem !default;
$custom-range-track-bg: rgba(0, 0, 0, 0.06) !default;
/**
* END Colors and variables Formulaire des prets
*/

// Socials
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-linkedin: #0077b5;
$color-youtube: #cd201f;
$color-instagram: #000;

// forms
$input-bg-focus: $white;
$input-border-disabled: lighten($gray, 50%);
$input-border-size: 1px;

// Copied from Bootstrap 4 for helpers
$spacer-x: 15px !default;
$spacer-y: 15px !default;
$spacers: (
  0: (
    x: 0,
    y: 0,
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y,
  ),
) !default;
