$color: 0;

/**
* Colors
*/

$white: #fff;
$black: #000;
$transparent: rgba(255, 255, 255, 0);

$green: #008e4f;
$gray: #747476;
$light-gray: #ccc;
$ligthen-gray: #e8e8e8;
$berrylight-gray: #eee;
$shadow-gray: rgba(132, 132, 132, 0.5);
$mine-shaft: #333;

/**
* Colors Profession
*/
$deep-yellow: #cbb900;
$deep-orange: #b35e0a;
$deep-red: #b21f16;
$deep-blue: #005782;
$deep-brown: #663d07;

$deep-green: #009966;
$light-green: #00a261;
$light-blue: #00a3e3;

/**
* Colors Bellvita
*/
$bv-colors: (
  'white': #FFFFFF,
  'black': #313131,
  'grey': #474747,
  'grey-light': #EBEBEB,
  'grey-lighter': #FAFAFA,
  'grey-text': #777777,
  'grey-text-light': #959595,
  'green': #0AB468,
  'green-dark': #008E4F
);


/**
* Colors and variables Formulaire des prets
*/
// Defaults
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// Global colors primary & secondary and more
$ph-primary: #F4834E !default;
$ph-secondary: #FDC8AF !default;

// Custom range
$custom-range-track-height: 0.125rem !default;
$custom-range-track-bg: rgba(0, 0, 0, 0.06) !default;
/**
* END Colors and variables Formulaire des prets
*/

// Socials
$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-linkedin: #0077b5;
$color-youtube: #cd201f;
$color-instagram: #000;

// forms
$input-bg-focus: $white;
$input-border-disabled: lighten($gray, 50%);
$input-border-size: 1px;

// Copied from Bootstrap 4 for helpers
$spacer-x: 15px !default;
$spacer-y: 15px !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
) !default;
