/**
* Colors
*/

$white: #fff;
$black: #000;
$transparent: rgba(255, 255, 255, 0);

$green: #008e4f;
$grey: #747476;
$light-grey: #eee;
$ligthen-grey: lighten($grey, 45%);

/**
* Colors Profession
*/
$deep-yellow: #cbb900;
$deep-orange: #b35e0a;
$deep-red: #b21f16;
$deep-blue: #005782;
$deep-purle: #5d004a;
$deep-brown: #663d07;

$deep-green: #009966;
$light-green: #00a261;
$light-blue: #00a3e3;

// forms
$input-bg-focus: $white;
$input-border-disabled: lighten($grey, 50%);
$input-border-size: 1px;
