@font-face {
  font-family: "retraitespopulaires-icon";
  src: url('../fonts/3.5.2/retraitespopulaires-icon.eot');
  src: url('../fonts/3.5.2/retraitespopulaires-icon.eot?#iefix') format('eot'),
    url('../fonts/3.5.2/retraitespopulaires-icon.woff') format('woff'),
    url('../fonts/3.5.2/retraitespopulaires-icon.ttf') format('truetype'),
    url('../fonts/3.5.2/retraitespopulaires-icon.svg#retraitespopulaires-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

%retraitespopulaires-icon {
  display: inline-block;
  font-family: "retraitespopulaires-icon";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.retraitespopulaires-icon {
  @extend %retraitespopulaires-icon;
}

.retraitespopulaires-icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.retraitespopulaires-icon-2x { font-size: 2em; }
.retraitespopulaires-icon-3x { font-size: 3em; }
.retraitespopulaires-icon-4x { font-size: 4em; }
.retraitespopulaires-icon-5x { font-size: 5em; }
.retraitespopulaires-icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

// transform the icon
.retraitespopulaires-icon-flip-horizontal { transform: scaleX(-1); }
.retraitespopulaires-icon-flip-vertical { transform: scaleY(-1); }
.retraitespopulaires-icon-rotate-90deg { transform: rotate(90deg); }
.retraitespopulaires-icon-rotate-180deg { transform: rotate(180deg); }
.retraitespopulaires-icon-rotate-270deg { transform: rotate(270deg); }

// Variables with the unicode character
$retraitespopulaires-icon-angle: "\EA01";
$retraitespopulaires-icon-arrow-down-left: "\EA02";
$retraitespopulaires-icon-arrow-down-right: "\EA03";
$retraitespopulaires-icon-arrow-down: "\EA04";
$retraitespopulaires-icon-arrow-last-thin: "\EA05";
$retraitespopulaires-icon-arrow-left: "\EA06";
$retraitespopulaires-icon-arrow-right: "\EA07";
$retraitespopulaires-icon-arrow-thin: "\EA08";
$retraitespopulaires-icon-arrow-up-left: "\EA09";
$retraitespopulaires-icon-arrow-up-right: "\EA0A";
$retraitespopulaires-icon-arrow-up: "\EA0B";
$retraitespopulaires-icon-calculator: "\EA0C";
$retraitespopulaires-icon-calendar: "\EA0D";
$retraitespopulaires-icon-checked: "\EA0E";
$retraitespopulaires-icon-chevron: "\EA0F";
$retraitespopulaires-icon-collectivites: "\EA10";
$retraitespopulaires-icon-connect-button: "\EA11";
$retraitespopulaires-icon-contact-us-borderless: "\EA12";
$retraitespopulaires-icon-contact-us: "\EA13";
$retraitespopulaires-icon-document-file: "\EA14";
$retraitespopulaires-icon-document-group: "\EA15";
$retraitespopulaires-icon-documents-thick: "\EA16";
$retraitespopulaires-icon-edit: "\EA17";
$retraitespopulaires-icon-entreprises: "\EA18";
$retraitespopulaires-icon-external-link: "\EA19";
$retraitespopulaires-icon-facebook: "\EA1A";
$retraitespopulaires-icon-faq-thick: "\EA1B";
$retraitespopulaires-icon-frontdesk: "\EA1C";
$retraitespopulaires-icon-information: "\EA1D";
$retraitespopulaires-icon-instagram: "\EA1E";
$retraitespopulaires-icon-linkedin: "\EA1F";
$retraitespopulaires-icon-location-pin: "\EA20";
$retraitespopulaires-icon-lock: "\EA21";
$retraitespopulaires-icon-mail: "\EA22";
$retraitespopulaires-icon-particuliers: "\EA23";
$retraitespopulaires-icon-phone: "\EA24";
$retraitespopulaires-icon-placeholder: "\EA25";
$retraitespopulaires-icon-search: "\EA26";
$retraitespopulaires-icon-twitter: "\EA27";
$retraitespopulaires-icon-unchecked: "\EA28";
$retraitespopulaires-icon-youtube: "\EA29";


.retraitespopulaires-icon-angle:before { content: $retraitespopulaires-icon-angle; }
.retraitespopulaires-icon-arrow-down-left:before { content: $retraitespopulaires-icon-arrow-down-left; }
.retraitespopulaires-icon-arrow-down-right:before { content: $retraitespopulaires-icon-arrow-down-right; }
.retraitespopulaires-icon-arrow-down:before { content: $retraitespopulaires-icon-arrow-down; }
.retraitespopulaires-icon-arrow-last-thin:before { content: $retraitespopulaires-icon-arrow-last-thin; }
.retraitespopulaires-icon-arrow-left:before { content: $retraitespopulaires-icon-arrow-left; }
.retraitespopulaires-icon-arrow-right:before { content: $retraitespopulaires-icon-arrow-right; }
.retraitespopulaires-icon-arrow-thin:before { content: $retraitespopulaires-icon-arrow-thin; }
.retraitespopulaires-icon-arrow-up-left:before { content: $retraitespopulaires-icon-arrow-up-left; }
.retraitespopulaires-icon-arrow-up-right:before { content: $retraitespopulaires-icon-arrow-up-right; }
.retraitespopulaires-icon-arrow-up:before { content: $retraitespopulaires-icon-arrow-up; }
.retraitespopulaires-icon-calculator:before { content: $retraitespopulaires-icon-calculator; }
.retraitespopulaires-icon-calendar:before { content: $retraitespopulaires-icon-calendar; }
.retraitespopulaires-icon-checked:before { content: $retraitespopulaires-icon-checked; }
.retraitespopulaires-icon-chevron:before { content: $retraitespopulaires-icon-chevron; }
.retraitespopulaires-icon-collectivites:before { content: $retraitespopulaires-icon-collectivites; }
.retraitespopulaires-icon-connect-button:before { content: $retraitespopulaires-icon-connect-button; }
.retraitespopulaires-icon-contact-us-borderless:before { content: $retraitespopulaires-icon-contact-us-borderless; }
.retraitespopulaires-icon-contact-us:before { content: $retraitespopulaires-icon-contact-us; }
.retraitespopulaires-icon-document-file:before { content: $retraitespopulaires-icon-document-file; }
.retraitespopulaires-icon-document-group:before { content: $retraitespopulaires-icon-document-group; }
.retraitespopulaires-icon-documents-thick:before { content: $retraitespopulaires-icon-documents-thick; }
.retraitespopulaires-icon-edit:before { content: $retraitespopulaires-icon-edit; }
.retraitespopulaires-icon-entreprises:before { content: $retraitespopulaires-icon-entreprises; }
.retraitespopulaires-icon-external-link:before { content: $retraitespopulaires-icon-external-link; }
.retraitespopulaires-icon-facebook:before { content: $retraitespopulaires-icon-facebook; }
.retraitespopulaires-icon-faq-thick:before { content: $retraitespopulaires-icon-faq-thick; }
.retraitespopulaires-icon-frontdesk:before { content: $retraitespopulaires-icon-frontdesk; }
.retraitespopulaires-icon-information:before { content: $retraitespopulaires-icon-information; }
.retraitespopulaires-icon-instagram:before { content: $retraitespopulaires-icon-instagram; }
.retraitespopulaires-icon-linkedin:before { content: $retraitespopulaires-icon-linkedin; }
.retraitespopulaires-icon-location-pin:before { content: $retraitespopulaires-icon-location-pin; }
.retraitespopulaires-icon-lock:before { content: $retraitespopulaires-icon-lock; }
.retraitespopulaires-icon-mail:before { content: $retraitespopulaires-icon-mail; }
.retraitespopulaires-icon-particuliers:before { content: $retraitespopulaires-icon-particuliers; }
.retraitespopulaires-icon-phone:before { content: $retraitespopulaires-icon-phone; }
.retraitespopulaires-icon-placeholder:before { content: $retraitespopulaires-icon-placeholder; }
.retraitespopulaires-icon-search:before { content: $retraitespopulaires-icon-search; }
.retraitespopulaires-icon-twitter:before { content: $retraitespopulaires-icon-twitter; }
.retraitespopulaires-icon-unchecked:before { content: $retraitespopulaires-icon-unchecked; }
.retraitespopulaires-icon-youtube:before { content: $retraitespopulaires-icon-youtube; }
