@charset 'UTF-8';

@import 'main-variables';
@import 'styleguide-variables';
@import '../../node_modules/toolbox-utils/styleguide/styles/mixins';
@import '../../node_modules/toolbox-utils/styleguide/styles/code';
@import '../../node_modules/toolbox-utils/styleguide/styles/controls';
@import '../../node_modules/toolbox-utils/styleguide/styles/item';
@import '../../node_modules/toolbox-utils/styleguide/styles/layout';
@import '../../node_modules/toolbox-utils/styleguide/styles/menu';
@import 'doc/moodboard';

#atoms {
  .styleguide-item-preview .hamburger-wrapper,
  .styleguide-item-preview .hamburger-mandat-wrapper,
  .styleguide-item-preview .logo-retraitespopulaires {
    position: relative;
    top: 0;
    left: 0;
  }
}

#organisms {
  .styleguide-item-preview .header {
    position: relative;
  }
}

.styleguide-header-container {
  background-color: $menu-bg;

  h1 {
    margin: 0;
  }
}

.styleguide-menu-active .styleguide-container {
  transform: translate(300px, 0);

  @media (min-width: 60em) {
    margin-left: 250px;
    transform: translate(0, 0);
  }
}

.styleguide-menu {
  width: 250px;
  border-right: 1px solid #eee;

  a {
    padding: 0.2em 1em 0.1em;
    font-size: 80%;
    color: #424242;
    transition: all 0.25s ease-in-out;

    &.styleguide-active {
      padding-left: 2rem;
    }

    &.styleguide-menu-heading:hover,
    &:hover {
      cursor: pointer;
      background: $accent-color;
      color: $white;
    }
  }

  > ul {
    > li {
      margin-top: 0.5em;
    }
  }

  span.styleguide-menu-heading {
    padding: 0.2em 1em 0.1em 1rem;
    color: #424242;
  }

  .styleguide-menu-heading {
    margin-bottom: 0.5em;
    padding-left: 1rem;
    border-bottom: 1px solid #eee;
  }

  a.styleguide-menu-heading {
    &:hover {
      background: none;
      cursor: pointer;
      color: $accent-color;
    }
  }
}

.styleguide-item-heading {
  font-size: 18px;
}

.styleguide-item-group {
  margin-top: 0;
}

.styleguide-item-group > .styleguide-item-group {
  padding-bottom: 0;
  border: 1px solid #ddd;

  .styleguide-item-heading-group {
    margin: 0;
    padding: 5px 10px;
    background: #eee;
  }

  .styleguide-item-notes {
    max-width: 100%;
    padding: 10px;
    background: #eee;

    .alert {
      margin-bottom: 10px;

      p { display: inline; }
    }

    p,
    h5,
    li {
      font-size: 16px;
    }
  }

  .styleguide-item-preview {
    border: 0;
    border-radius: 0;

    .container {
      max-width: 100%;
    }
  }

  .styleguide-item-code {
    margin-top: 0;

    .language-markup {
      margin: 0;
    }
  }

  pre[class*='language-'] {
    border-radius: 0;
    border: none;
    border-top: 1px solid #ddd;
  }
}

.styleguide-item-preview { margin-top: 0; }

.rp-access-nav {
  display: none;
}

// TABS!
.styleguide-tabs.nav-tabs {
  padding-right: 10px;
  padding-left: 10px;
  background: #eee;

  li:hover,
  li.active {
    border-bottom: none !important;
  }

  a {
    padding: 5px 10px;
  }
}

// Toggle themes

.styleguide-toggle-theme-hide {
  position: fixed;
  z-index: 999999;
  bottom: 20px;
  left: calc(100% - 3em);
  padding-left: 2em;
  transition: padding-left 0.2s;
  will-change: padding-left;

  &:hover {
    padding-left: 0;
  }
}

.styleguide-item-preview {
  // Override for Popin
  .popin-container {
    visibility: hidden;
  }

  // Override for Managed-By link
  &#element-managed-by-link {
    margin-top: 53px;
  }
}
