@charset 'UTF-8';

@import 'main-variables';
@import 'styleguide-variables';
@import '../../node_modules/toolbox-utils/styleguide/styles/mixins';
@import '../../node_modules/toolbox-utils/styleguide/styles/code';
@import '../../node_modules/toolbox-utils/styleguide/styles/controls';
@import '../../node_modules/toolbox-utils/styleguide/styles/item';
@import '../../node_modules/toolbox-utils/styleguide/styles/layout';
@import '../../node_modules/toolbox-utils/styleguide/styles/menu';

@import 'doc/moodboard';

.styleguide-container {
  padding: 0 15px;
}

#atoms {
  .styleguide-item-preview .hamburger-wrapper,
  .styleguide-item-preview .logo-retraitespopulaires {
    position: relative;
    top: 0;
    left: 0;
  }
}

#molecules {
  .styleguide-item-preview .swiper-empty-state {
    position: relative;
  }
}


#organisms {
  .styleguide-item-preview .header {
    position: relative;
  }
}
