@charset 'UTF-8';

.attachements-wrapper {
  position: relative;
  padding-top: $grid-gutter-width*2;
}

.attachements-wrapper > .container {
  z-index: 10;
}

.attachements-wrapper > .organic-lines {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
