@charset 'UTF-8';

.attachments-rentals-wrapper {
  position: relative;
  padding-top: $grid-gutter-width*2;
  background: $berrylight-gray;

  .attachments-rentals-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    margin-bottom: $grid-gutter-width;

    @media only screen and (min-width: $screen-sm-min) {
      flex-direction: row;
    }
  }
}
