@charset 'UTF-8';

.container-sidebars {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  .container-sidebars-left {
    order: 2;
    width: 100%;
    margin-right: auto;
  }

  .container-sidebars-center {
    order: 0;
    max-width: 100%;
  }

  .container-sidebars-right {
    order: 1;
    width: 100%;
    margin-left: auto;
  }

  @media only screen and (min-width: $screen-mlg-min) {
    flex-direction: row;
    flex-wrap: wrap;

    .container-sidebars-left {
      order: 0;
      max-width: 270px;
    }

    .container-sidebars-center {
      order: 1;
      max-width: 1000px;
      margin: 0 $grid-gutter-width;
    }

    .container-sidebars-right {
      // flex-grow: 3;
    }
  }

  @media only screen and (min-width: $screen-xlg-min) {
    flex-wrap: nowrap;

    .container-sidebars-center {
      max-width: 1170px;
    }

    .container-sidebars-left {
      max-width: 350px;
    }

    .container-sidebars-right {
      max-width: 350px;
    }
  }
}
