@charset 'UTF-8';

.header {
  position: relative;
  z-index: $zindex-navbar-fixed + 2;
  background: $white;

  &.active {
    background: none;
  }
}

// To use when you have an offseted logo
.container-offset {
  @media screen and (min-width: $screen-md-min) {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.25s ease;

  @media screen and (min-width: $screen-md-min) {
    margin-bottom: ($grid-gutter-width / 4);
  }

  &:before,
  &:after {
    content: none;
  }

  .logo-retraitespopulaires {
    margin-right: 10px;
    margin-left: 10px;
  }

  .hamburger-wrapper {
    margin-right: -($grid-gutter-width / 2);

    @media screen and (min-width: $screen-lg-min) {
      margin-right: 0;
    }
  }

  .logo-retraitespopulaires-offset {
    margin-left: -20px;

    @media screen and (min-width: $screen-md-min) {
      margin-left: -6.5rem;
    }
  }

  [class*=theme-] & {
    margin-bottom: 0;
  }
}

.header-search {
  flex: 0 1 620px;
  margin: -1px auto 0; // browser sometimes rounds pixels the wrong way. This seems to fix it

  .form-group {
    margin-bottom: 0;
  }
}

.header-shadow {
  box-shadow: 0 5px 30px rgba($black, 0.3);
}

.header-border {
  border-bottom: 1px solid $ligthen-gray;
}

// Special navbars in header for mandats
.wrapper-navs {
  display: none;
  flex: 0 1 800px;
  margin-top: $grid-gutter-width / 2;
  margin-left: $grid-gutter-width;

  @media screen and (min-width: $screen-md-min) {
    display: block;
  }
}

.wrapper-prenavbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .prenavbar-separator {
    width: 2px;
    height: ($grid-gutter-width / 2);
    margin: 0 ($grid-gutter-width / 2);
    background-color: $light-gray;

    &.prenavbar-separator-invisible {
      background: none;
    }
  }
}

.wrapper-navbar {
  margin-top: $grid-gutter-width / 2;
}
