@charset 'UTF-8';

.header {
  position: sticky;
  z-index: $zindex-navbar-fixed + 2;
  top: 0;
  background: $white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.015), 0 2px 2px rgba(0, 0, 0, 0.015),
    0 4px 4px rgba(0, 0, 0, 0.015), 0 8px 8px rgba(0, 0, 0, 0.015),
    0 16px 16px rgba(0, 0, 0, 0.015);

  @media screen and (min-width: $screen-md-min) {
    top: -79px; /* ! Hardcoded header height */
  }

  &.active {
    background: none;
  }
}

div[id$="-layoutheaderblock"] {
  position: sticky;
  top: 0;
  z-index: 10;

  @media screen and (min-width: $screen-md-min) {
    top: -79px; /* ! Hardcoded header height */
  }
}

// To use when you have an offseted logo
.container-offset {
  @media screen and (min-width: $screen-md-min) {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.25s ease;

  @media screen and (min-width: $screen-md-min) {
    margin-bottom: ($grid-gutter-width / 2);
  }

  &:before,
  &:after {
    content: none;
  }

  .logo-retraitespopulaires {
    margin-right: 10px;
    margin-left: 10px;
  }

  .hamburger-wrapper {
    margin-right: -($grid-gutter-width / 2);

    @media screen and (min-width: $screen-lg-min) {
      margin-right: 0;
    }
  }

  .logo-retraitespopulaires-offset {
    margin-left: -20px;
    @media screen and (min-width: $screen-lg-min) {
      margin-right: 60px;
    }
  }

  [class*="theme-"] & {
    margin-bottom: 0;
  }
}

.main-menu-root {
  display: -webkit-box;
  list-style: none;
  padding-left: 0;
  margin-bottom: 2px;

  @media screen and (max-width: $screen-md-min) {
    margin-bottom: 9.5px;
    &:not(.mobile) {
      display: none;
    }
  }

  :not(.mobile) {
    margin-top: 9.5px;
  }

  li {
    margin-right: 20px;

    &.active {
      background-color: green;
      padding: 3px 9px;
      border-radius: 4px;

      a {
        color: white;
        font-weight: 700;
      }
    }
  }

  &.mobile {
    @media screen and (min-width: $screen-md-min) {
      display: none;
    }

    scroll-snap-type: x mandatory;
    overflow-x: scroll;

    li {
      scroll-snap-align: center;
    }
  }
}

.header-search {
  flex: 0 1 620px;
  margin: -1px auto 0; // browser sometimes rounds pixels the wrong way. This seems to fix it

  .form-group {
    margin-bottom: 0;
  }
}

.header-shadow {
  box-shadow: 0 5px 30px rgba($black, 0.3);
}

.header-border {
  border-bottom: 1px solid $ligthen-gray;
}

// Special navbars in header for mandats
.wrapper-navs {
  display: none;
  flex: 0 1 800px;
  margin-top: $grid-gutter-width / 2;
  margin-left: $grid-gutter-width;

  @media screen and (min-width: $screen-md-min) {
    display: block;
  }
}

.wrapper-prenavbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;

  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    text-align: right;
  }

  .prenavbar-separator {
    width: 2px;
    height: ($grid-gutter-width / 2);
    margin: 0 ($grid-gutter-width / 2);
    background-color: $light-gray;

    &.prenavbar-separator-invisible {
      background: none;
    }
  }
}

.wrapper-navbar {
  margin-top: $grid-gutter-width / 2;
}
