@charset 'UTF-8';

header {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 104px;
  background: $white;
  z-index: 2002;
  transition: border 0.25s ease-in-out;

  &.active {
    border-bottom-color: transparent;
  }

  .global-search {
    margin-top: 25px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    @media (min-width: $screen-sm-min) {
      margin-left: 3.56rem; // to align logo
    }

    &.active {
      opacity: 1;
    }
  }
}
