@charset 'UTF-8';

.header {
  position: relative;
  z-index: $zindex-navbar-fixed + 2;
  background: $white;
}

.header-container {
  display: flex;
  align-items: center;

  .logo-retraitespopulaires {
    margin: 10px;
  }
}

.header-search {
  flex: 0 1 620px;
  margin: 0 auto;

  .form-group {
    margin-bottom: 0;
  }
}
