@charset 'UTF-8';

.section {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.contact-section .section-title {
  display: block;

  @media (min-width: $screen-md-min) {
    text-align: center;
  }
}
