<div class="visible-xs-block visible-sm-block" aria-hidden="true">
  <div class="hamburger-wrapper">
    <div class="hamburger-button">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <svg class="hamburger-circle" x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
        <circle fill="transparent" stroke="#656e79" stroke-width="1.5" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
      </svg>
    </div>
    <div class="hamburger-helper text-secondary">
      <div class="helper-when-close">{% trans %}Menu{% endtrans %}</div>
      <div class="helper-when-open">{% trans %}Fermer{% endtrans %}</div>
    </div>
  </div>
</div>
