<!-- Linked Plans -->
{% if plans is not empty %}
  <div class="spacer spacer-sm"></div>
  <p class="media-heading text-muted">
    {% trans %}
      Fichier de plan
    {% plural plans|length %}
      Fichiers de plan
    {% endtrans %}
  </p>
  <ul class="unordered-list">
  {% for file in plans %}
      <li>
        {% set file_title = file.description ? file.description : file.entity.filename.value %}
        {% set file_type = file.entity.mimeType ? file.entity.mimeType %}
        <a href="{{ file_url(file.entity.uri.value) }}" target="_blank" class="pretty-link">
          {{ file_title }}
          <span class="text-muted text-small">- {{ file_type|bamboo_file_extension_guesser|upper }}</span>
        </a>
      </li>
  {% endfor %}
  </ul>
{% endif %}
