<!-- Linked Useful Documents -->
{% if documents is not empty %}
  <div class="spacer spacer-sm"></div>
  <p class="media-heading text-muted">
    {% trans %}
      Document utile attaché
    {% plural documents|length %}
      Documents utiles attachés
    {% endtrans %}
  </p>
  <ul class="unordered-list">
  {% for document in documents %}
    {% if document.entity.isPublished %}
      <li>
        {% set document_title = document.entity.title.value %}
        {% set document_type = document.entity.field_file_document.entity.mimeType %}
        <a href="{{ path('entity.node.canonical', {'node': document.entity.nid.value}) }}" target="_blank" class="pretty-link">
          {{ document_title }}
          <span class="text-muted text-small">- {{ document_type|extension_guesser|upper }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}
