<div class="row icon-button-bar ng-cloak" ng-show="showIconButtonBar()" ng-cloak>
   <nav class="navbar navbar-dynamic-top">
      <div class="icon-bar-container">
         <div class="navbar-header" ng-show="!isIconButtonBarFixed()">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-show="anyButton()">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
         </div>
         <div id="navbar" class="icon-button-bar__navbar collapse navbar-collapse ng-cloak" ng-class="{'in': isIconButtonBarFixed()}" ng-cloak>
            <ul id="IconToolbar" class="icon-button-bar__tool-bar nav navbar-nav navbar-right icon-button-bar__tool-bar-visibility">
               <li ng-show="showSave()" id="profile" class="icon-button-bar__profile">
                  <a ng-show="!getUserLogged()" href="" type="button" id="loginButton" title="{{'Profile.LogIn' | i18n}}" href="" ng-cloak class="ng-cloak" ng-click="logIn()">
                     <div class="login-icon-image ng-cloak" ng-cloak><h4 class='hiding-text padding-text' ng-bind-html="'Profile.LogIn' | i18n" ></h4></div>
                  </a>
                  <a ng-show="getUserLogged()" href="" id="user" href="" ng-cloak class="ng-cloak user-logged" ng-click="onUserLogged()" ng-class="{'demo-account': isDemoAccount()}">
                     <p class='linkOnFormText right-arrow' ng-bind-html="getUserLogged()" ></p>
                  </a>
                  <a ng-show="getUserLogged()" href="" type="button" id="logoutButton" title="{{'Profile.LogOut' | i18n}}" href="" ng-cloak class="ng-cloak" ng-click="logOut()">
                     <div class="logout-icon-image ng-cloak" ng-cloak><h4 class='hiding-text padding-text' ng-bind-html="'Profile.LogOut' | i18n" ></h4></div>
                  </a>
               </li>
               <li ng-show="showDossier()" class="icon-button-bar__dossier-name">
                  <p id="currentDossierName" ng-cloak class="ng-cloak navbar-text ellipsis" ng-bind-html="showDossier()"></p>
               </li>
               <li ng-show="showNew()">
                  <a href="" type="button" id="new" title="{{'iconButtonBarTooltips.new' | i18n}}" ng-cloak ng-click="onNew();" >
                     <div class="new-icon-image"><h4 class='hiding-text padding-text' ng-bind-html="'iconButtonBar.new' | i18n" ></h4></div>
                  </a>
               </li>
               <li ng-show="showEventPlan()">
                  <a href="" type="button" id="eventPlan" title="{{'iconButtonBarTooltips.eventPlan' | i18n}}" ng-cloak ng-click="onEventPlan();">
                     <div ng-class="{'event-plan-with-events-entered-icon-image': isAnyEventPlan(), 'event-plan-icon-image': !isAnyEventPlan()}"><h4 class='hiding-text padding-text' ng-bind-html="'iconButtonBar.eventPlan' | i18n" ></h4></div>
                  </a>
               </li>
               <li ng-show="showPrint()">
                  <a href="" type="button" id="print" title="{{'iconButtonBarTooltips.print' | i18n}}" ng-show="!askConsultantDataForPrinting()" ng-cloak ng-click="onPrint();">
                     <div class="print-icon-image"><h4 class='hiding-text padding-text' ng-bind-html="'iconButtonBar.print' | i18n" ></h4></div>
                  </a>
                  <a href="" type="button" id="additionalPrintData" title="{{'iconButtonBarTooltips.print' | i18n}}" ng-click="openAdditionalPrintingData()" ng-show="askConsultantDataForPrinting()" ng-cloak>
                     <div class="print-icon-image"><h4 class='hiding-text padding-text' ng-bind-html="'iconButtonBar.print' | i18n" ></h4></div>
                  </a>
               </li>
               <li ng-show="showContact();">
                  <a href="" type="button" id="contact" title="{{'iconButtonBarTooltips.contact' | i18n}}" ng-cloak ng-click="onContact();" >
                     <div class="envelope-icon-image"><h4 class='hiding-text padding-text' ng-bind-html="'iconButtonBar.contact' | i18n" ></h4></div>
                  </a>
               </li>
               <li ng-repeat="media in availableMedia() track by $index" >
                  <a ng-href="{{getSocialMediaUrl(media)}}" type="button" id="{{media}}" title="{{'iconButtonBarTooltips.' + media | i18n}}" ng-cloak ng-click="onSocialMediaButton(media, $event);">
                     <div class="{{media}}-icon-image"><h4 class='hiding-text padding-text' ng-bind-html="'iconButtonBar.' + media | i18n"></h4></div>
                  </a>
               </li>
               <li class="dropdown" ng-controller="languageController" ng-show="languageSelectionAvailable()" id="language-dropdown-container">
                  <a class="" type="button" id="languages" title="{{'iconButtonBarTooltips.languages' | i18n}}" href="" data-toggle="dropdown" ng-cloak>
                     <div ng-class="getActiveLanguageClass()"><h4 class='hiding-text padding-text' ng-bind-html="'iconButtonBar.languages' | i18n" ></h4></div>
                  </a>
                  <ul role="menu" class="dropdown-menu dropdown-menu-right">
                     <li ng-repeat="language in availableLanguages() track by $index">
                        <a id="language_{{language.id}}" href="" ng-click="setLanguageId(language.id)" class="dropdown-color text-align-left" ng-bind-html="'Languages.' + language.id|i18n" ></a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <div class="modal fade" id="additionalPrintingDataModal" tabindex="-1" role="dialog" aria-labelledby="additionalPrintingDataModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
       <div class="modal-header">
          <button type="button" id="additionalPrintDataCancelButton" class="close" data-dismiss="modal" aria-label="Close" ng-click="onCancelConsultantDataEdition()"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="additionalPrintingDataModalLabel" ng-bind-html="'additionalPrintingData.title' | i18n"></h4>
       </div>
       <div class="modal-body">
         <form>
            <div class="form-group" visibility="showEventPlan()">
               <span class="std-text-note dialog-subtitle link-bolder" ng-bind-html="getEventPlanLabel()"></span>
               <a class="base-link proposal-link" id="" href="" ng-click="goToEventPlan()">
                  <span class="std-text-note dialog-subtitle link-bolder right-arrow" ng-bind-html="getEventPlanLabelLink()"></span>
                  <span class="toggle-btn"></span>
               </a>
            </div>
           <div class="form-group" ng-show="askCustomerReferenceForPrinting()">
             <div ng-include="'src/directives/icon-button-bar/customer-number-fields.html'" ng-cloak class="ng-cloak"></div>
           </div>
           <div class="form-group">
             <label for="customerInfo-text" class="control-label" ng-bind-html="'additionalPrintingData.customerInfo' | i18n"></label>
             <textarea class="form-control" rows="4" ng-model="additionalPrintingData.customerInfo" id="customerInfo-text"></textarea>
           </div>
           <div class="form-group">
             <label for="consultantInfo-text" class="control-label" ng-bind-html="'additionalPrintingData.consultantInfo' | i18n"></label>
             <textarea class="form-control" rows="4" ng-model="additionalPrintingData.consultantInfo" id="consultantInfo-text"></textarea>
           </div>
           <div ng-include="'src/directives/icon-button-bar/custom-extra-printing-data-fields.html'" ng-cloak class="ng-cloak"></div>
         </form>
       </div>
          <div class="modal-footer">
             <button type="button" id="additionalPrintDataPrintButton" class="btn btn-default" ng-bind-html="'additionalPrintingData.print' | i18n" ng-click="onSendPrint();"></button>
          </div>
        </div>
      </div>
   </div>
</div>
