.background-overflow {
  position: relative;
  margin: 0 ($grid-gutter-width * -1);
  padding: 0.25rem $grid-gutter-width;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    background: inherit;
    z-index: -1;
  }

  &:before { left: 100%; }
  &:after { right: 100%; }
}
