@charset 'UTF-8';

.btn {
  padding: 11px 0.6em 7px;
  border: 2px solid $transparent;
  font-weight: 600;
  text-transform: uppercase;
  transition:
    background 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease,
    opacity 0.5s ease;
  white-space: normal;

  @media screen and (min-width: $screen-sm-min) {
    white-space: nowrap;
  }

  &.btn-lg { font-size: 1em; }

  &:focus,
  &.focus,
  &:active,
  &.active,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    outline: 0;
    box-shadow: none;
  }

  &.btn-secondary {
    @include button-variant($btn-default-color, $deep-yellow, $btn-default-border);
  }
}

.btn-outline {
  @include button-variant($deep-yellow, $transparent, $deep-yellow);
}
