@charset 'UTF-8';

.btn {
  transition:
    background 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease,
    opacity 0.5s ease;

  @media screen and (max-width: $screen-xs-max) {
    white-space: normal;
  }

  @include font-secondary;

  &:first-letter {
    text-transform: uppercase;
  }

  &:active,
  &.active {
    box-shadow: none;
  }
}

.btn-icon {
  i {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    font-size: 1.6em;
  }
}

.btn-primary {
  @include btn-theme();
}

.btn-secondary {
  @include button-variant($btn-default-color, $deep-yellow, $btn-default-border);
}

.btn-default-invert {
  border: none;

  @include button-variant($brand-primary, $white, $btn-default-border);
}

.btn-group { // @TODO check in which wrapper those links are
  .btn {
    border: 1px solid $white;
  }
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-base, $btn-border-radius-large);

  @media screen and (min-width: $screen-sm-min) {
    @include button-size($padding-large-vertical, $padding-large-horizontal * 4, $font-size-base, $line-height-base, $btn-border-radius-large);
  }
}

.btn-xs {
  @include button-size($padding-xs-vertical * 2, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);

  &.dropdown-toggle {
    .retraitespopulaires-icon {
      position: relative;
      top: 3px;
    }
  }
}

.btn-invisible {
  @include button-variant($text-color, $transparent, $btn-default-border);

  &:hover,
  &:active,
  &:focus,
  &:hover:active {
    border-color: $light-gray;
  }
}

.btn-outline {
  @include button-variant($brand-primary, $transparent, $brand-primary);
  @include theme(border-color color);

  &:hover,
  &:focus, {
    background-color: $link-color;
    border-color: $link-color;
    color: $white !important;

    @include theme(background-color);
  }

  &:active,
  &:hover:active,
  &:active:focus {
    background-color: $link-hover-color;
    border-color: $link-hover-color;
    color: $white;

    @include theme(background-color border-color, hover-color);
  }
}

.btn-outline-secondary {
  @include button-variant($white, $transparent, $white);
}

// Button toggling collapse
.btn-collapse {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .retraitespopulaires-icon { line-height: 0; }

  .caret {
    color: $brand-primary;
    transition: transform 0.2s ease-in;
  }

  &.collapsed {
    .caret {
      transform: rotate(-90deg);
    }
  }
}

// inside forms
.form-group {
  .btn {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
}

// Button looking like a circle
.btn-circle {
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  padding-right: 0;
  padding-left: 0;
  border-radius: 50%;

  .retraitespopulaires-icon {
    line-height: $line-height-base;
  }

  &.btn-sm {
    width: 30px;
    height: 30px;
  }
}
