@charset 'UTF-8';

.btn {
  border-color: $transparent;
  transition:
    background 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease,
    opacity 0.5s ease;

  @media screen and (max-width: $screen-xs-max) {
    white-space: normal;
  }

  @include font-secondary;

  &:first-letter {
    text-transform: uppercase;
  }

  &:active,
  &.active {
    box-shadow: none;
  }
}

@each $label, $color in $themes {
  .btn-#{$label} {
    @include button-variant($white, $color, $btn-default-border);
  }
}

.btn-secondary {
  @include button-variant($btn-default-color, $deep-yellow, $btn-default-border);
}

.btn-icon {
  i {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    font-size: 1.6em;
  }
}

.btn-default-invert {
  border: none;

  @include button-variant($brand-primary, $white, $btn-default-border);
}

.btn-group { // @TODO check in which wrapper those links are
  .btn {
    border: 1px solid $white;
  }
}

.btn-invisible {
  @include button-variant($text-color, $transparent, $btn-default-border);

  &:hover,
  &:active,
  &:focus,
  &:hover:active {
    border-color: $light-gray;
  }
}

.btn-outline {
  @include button-variant($brand-primary, $transparent, $brand-primary);

  &:hover,
  &:active,
  &:focus,
  &:hover:active {
    background: $gray-lighter;
  }
}

.btn-outline-secondary {
  @include button-variant($white, $transparent, $white);
}

// Button toggling collapse
.btn-collapse {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .retraitespopulaires-icon { line-height: 0; }

  .caret {
    color: $brand-primary;
    transition: transform 0.2s ease-in;
  }

  &.collapsed {
    .caret {
      transform: rotate(-90deg);
    }
  }
}
