@charset 'UTF-8';

.btn {
  transition:
    background 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease,
    opacity 0.5s ease;

  @media screen and (max-width: $screen-xs-max) {
    white-space: normal;
  }

  @include font-secondary;

  &:first-letter {
    text-transform: uppercase;
  }

  &:active,
  &.active {
    box-shadow: none;
  }
}

.btn-icon {
  .retraitespopulaires-icon {
    vertical-align: middle;
    font-size: 1.2em;
  }
}

.btn-primary {
  @include btn-theme();
}

.btn-secondary {
  @include button-variant($btn-default-color, $deep-yellow, $btn-default-border);
}

.btn-invert {
  border: none;

  @include button-variant($brand-primary, $white, $btn-default-border);

  @include theme-custom() {
    @include button-variant($color, $white, $btn-default-border);
  }
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-base, $btn-border-radius-large);

  @media screen and (min-width: $screen-sm-min) {
    @include button-size($padding-large-vertical, $padding-large-horizontal * 4, $font-size-base, $line-height-base, $btn-border-radius-large);
  }
}

.btn-xs {
  @include button-size($padding-xs-vertical * 2, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);

  &.dropdown-toggle {
    .retraitespopulaires-icon {
      position: relative;
      top: 3px;
    }
  }
}

.btn-invisible {
  @include button-variant($text-color, $transparent, $btn-default-border);

  &:hover,
  &:active,
  &:focus,
  &:hover:active {
    border-color: $light-gray;
  }
}

.btn-outline {
  background-color: transparent;

  &:hover,
  &:focus, {
    color: $white !important;
  }

  &.btn-primary {
    background: transparent;
    border-color: $link-color;
    color: $link-color;

    @include theme(border-color color);

    &:hover,
    &:focus, {
      background-color: $link-color;
      border-color: $link-color;
      color: $white !important;

      @include theme(background-color border-color);
    }

    .open &.dropdown-toggle {
      color: $link-hover-color !important;
    }

    &:active,
    &:hover:active,
    &:active:focus {
      background-color: $link-hover-color;
      border-color: $link-hover-color;

      @include theme(background-color border-color, hover-color);
    }
  }

  &.btn-default {
    border-color: $btn-default-bg;
    color: $btn-default-bg;

    &:hover { background: $btn-default-bg; }
  }

  &.btn-success {
    border-color: $btn-success-bg;
    color: $btn-success-bg;

    &:hover { background: $btn-success-bg; }
  }

  &.btn-danger {
    border-color: $btn-danger-bg;
    color: $btn-danger-bg;

    &:hover { background: $btn-danger-bg; }
  }

  &.btn-info {
    border-color: $btn-info-bg;
    color: $btn-info-bg;

    &:hover { background: $btn-info-bg; }
  }

  &.btn-warning {
    border-color: $btn-warning-bg;
    color: $btn-warning-bg;

    &:hover { background: $btn-warning-bg; }
  }
}

.btn-outline-secondary {
  @include button-variant($white, $transparent, $white);
}

// Button toggling collapse
.btn-collapse {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .retraitespopulaires-icon { line-height: 0; }

  .caret {
    color: $brand-primary;
    transition: transform 0.2s ease-in;
  }

  &.collapsed {
    .caret {
      transform: rotate(-90deg);
    }
  }
}

// inside forms
.form-group {
  .btn {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
}

// Button looking like a circle
.btn-circle {
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2.666em;
  height: 2.666em;
  padding-right: 0;
  padding-left: 0;
  border-radius: 50%;

  &.btn-sm {
    width: 2em;
    height: 2em;
  }

  &.btn-xs {
    width: 1.666em;
    height: 1.666em;
  }
}

// button with the default font-family and strong text
.btn-normal {
  padding-top: 0.6em;
  font-family: $font-family-base;
  font-weight: 700;
}
