@charset 'UTF-8';

.button-bubble {
  margin: 0 $grid-gutter-width / 2;

  @each $label, $color in $themes {
    &.button-bubble-#{$label} .bubble-icon {
      background: $color;
      border-color: $color;
    }
  }

  .bubble-icon {
    display: inline-block;
    padding: 1.5em 1.6em;
    background: $green;
    border: 1px solid $green;
    border-radius: 4em;
    line-height: 0;
    cursor: pointer;

    i {
      color: $white;
    }
  }

  .bubble-link {
    margin-top: 10px;
  }
}

.button-bubble-social {
  .bubble-icon {
    i {
      color: inherit;
    }
  }
}

.button-bubble-outline {
  .bubble-icon {
    position: relative;
    background: $ligthen-gray;
    border: 1px solid $ligthen-gray;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $white;
      border-radius: 50%;
      z-index: 2;
      transform: scale(1);
      transition: transform 0.25s ease-in-out;
    }

    a {
      position: relative;
      z-index: 3;
    }

    i {
      color: $ligthen-gray;
    }
  }

  &:hover {
    .bubble-icon:after {
      transform: scale(0);
    }

    i.retraitespopulaires-icon {
      color: $brand-primary;
      transition-delay: 0.15s;
    }
  }
}
