@charset 'UTF-8';

.wrapper-funky-waves {
  position: relative;
  overflow: hidden;
  background: $brand-primary;

  &:not(.wrapper-funky-waves-with-cover) {
    min-height: 100px;

    @media (min-width: $screen-sm-min) {
      min-height: 150px;
    }

    @media (min-width: $screen-lg-min) {
      min-height: 200px;
    }

    @media (min-width: $screen-xl-min) {
      min-height: 250px;
    }

    @media (min-width: $screen-xl-min + 300) {
      min-height: 300px;
    }
  }

  // Add padding of the header size
  &.has-header { padding-top: 84px; }

  img {
    width: 100%;
    height: auto;
  }

  @include theme(background-color);

  .funky-waves-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    padding-top: 10.42%;
    overflow: hidden;

    svg {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;

      &.wave-1 {
        bottom: 0;
        left: 0;

        /* stylelint-disable max-nesting-depth */
        /* Need this depth for reading code */
        @media (min-width: $screen-sm-min) {
          bottom: -25px;
        }

        @media (min-width: $screen-xl-min) {
          bottom: -55px;
        }
        /* stylelint-enable max-nesting-depth */
      }

      &.wave-2 { /* Set width to 200% for animated waves */
        left: 0;
        width: 200%;
        height: auto;
        animation: wave-left 50s infinite linear;
      }

      &.wave-3 { /* Set width to 200% for animated waves */
        right: 0;
        width: 200%;
        height: auto;
        animation: wave-right 80s infinite linear;
      }
    }
  }
}

@keyframes wave-right {
  0% {
    transform: translate(0%, 0);
  }

  25% {
    transform: translate(12.5%, 0);
    animation-timing-function: cubic-bezier(0.88, 0.73, 0.3, 0.46);
  }

  75% {
    transform: translate(37.5%, 0);
  }

  100% {
    transform: translate(50%, 0);
  }
}

@keyframes wave-left {
  0% {
    transform: translate(0%, 0);
  }

  25% {
    transform: translate(-12.5%, 0);
  }

  75% {
    transform: translate(-37.5%, 0);
    animation-timing-function: cubic-bezier(0.88, 0.73, 0.3, 0.46);
  }

  100% {
    transform: translate(-50%, 0);
  }
}
