@charset 'UTF-8';

.hamburger-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;

  .hamburger-button {
    position: relative;
  }
}

.hamburger-helper {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  order: -1;
  width: 80px;
  margin-right: -($grid-gutter-width / 4);
  text-align: right;

  .helper-when-open {
    display: none;

    @include theme(color);
  }

  .helper-when-close {
    color: $brand-primary;

    @include theme(color);
  }
}

.hamburger-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  box-sizing: border-box;

  .hamburger {
    position: relative;
    width: 32px;
    height: 32px;

    span {
      display: block;
      position: relative;
      width: 100%;
      height: 3px;
      margin: 5px 0;
      background-color: $text-color;
      transition:
        0.25s ease-in-out,
        background-color 0.15s ease-in-out;
    }
  }

  .hamburger-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    circle {
      stroke: $brand-primary;
      transition: stroke-dashoffset 0.5s;

      @include theme(stroke);
    }
  }
}

.hamburger-wrapper.active {
  .hamburger {
    span {
      transition-delay: 0.15s;

      &:nth-child(1) {
        background: $brand-primary;
        transform: rotateZ(45deg) scaleX(1) translate(6.5px, 6.5px);

        @include theme(background-color);
      }

      &:nth-child(2) {
        background: transparent;
      }

      &:nth-child(3) {
        background: $brand-primary;
        transform: rotateZ(-45deg) scaleX(1) translate(5px, -5px);

        @include theme(background-color);
      }
    }
  }

  circle {
    stroke-dashoffset: 0;
  }

  .helper-when-open {
    display: block;
  }

  .helper-when-close {
    display: none;
  }
}
