@charset 'UTF-8';

.icon-text {
  position: relative;

  &.icon-text-center {
    display: flex;
    align-items: flex-start;
  }

  .retraitespopulaires-icon-lock {
    position: absolute;
    top: 50%;
    margin-top: -0.6em;
  }

  .retraitespopulaires-icon {
    margin-top: 0.2em;
  }

  .icon-text-txt {
    margin-left: 10px;
  }
}
