@charset 'UTF-8';

.icon-text {
  display: flex;
  position: relative;

  .retraitespopulaires-icon {
    margin-top: 0.2em;
  }

  &.icon-text-center {
    align-items: center;
    line-height: 0;

    .retraitespopulaires-icon { margin-top: 0; }
  }

  .retraitespopulaires-icon-lock {
    position: absolute;
    top: 50%;
    margin-top: -0.6em;
  }

  .icon-text-txt {
    margin-left: 10px;
  }
}

.icon-text-locker { display: initial; }
