@charset 'UTF-8';

.input-radio {
  position: relative;

  label {
    display: inline-block;
    position: relative;
    top: 0.15em;
    margin: 0;
    font-weight: 400;

    &:first-letter { text-transform: capitalize; }
  }

  input[type='radio'] {
    margin: 0 0 0 2px;
    cursor: pointer;
    outline: inherit;
  }

  input[type='radio']:focus + label:before {
    outline: 0;
    outline-style: none;
    outline-width: 0;
  }

  input[type='radio']:disabled + label:before {
    cursor: not-allowed;
  }
}

.form-group-inline {
  .input-radio.radio-inline {
    padding: 0;

    input[type='radio'] { position: relative; }
    &:first-child { margin-left: 0; }
  }

  label {
    &:before {
      top: 3px;
    }

    &:after {
      top: 0;
    }
  }
}
