@charset 'UTF-8';

.input-checkbox {
  position: relative;
  margin-left: $grid-gutter-width/2;

  label {
    display: inline-block;
    position: relative;
    font-weight: 600;
  }

}

.form-group-inline {
  .input-checkbox.checkbox-inline:first-child {
    margin-left: 0;
  }

  label {
    &:before {
      top: 3px;
    }

    &:after {
      top: 0;
    }
  }
}
