@charset 'UTF-8';

.input-checkbox {
  position: relative;
  margin-left: $grid-gutter-width/4;

  label {
    display: inline-block;
    position: relative;
    padding-left: 5px;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 17px;
      height: 17px;
      margin-left: -$grid-gutter-width/2;
      background-color: $white;
      border: 1px solid $brand-primary;
      border-radius: 3px;
      transition:
        border 0.15s ease-in-out,
        color 0.15s ease-in-out;
    }

    &:after {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      margin-left: -$grid-gutter-width/2;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: $text-color;
    }
  }

  input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: -$grid-gutter-width/4;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }

  input[type='checkbox']:focus + label:before {
    outline: 0;
    outline-style: none;
    outline-width: 0;
  }

  input[type='checkbox']:checked + label:after {
    content: '\f00c';
    font-family: FontAwesome;
    color: $text-color;
  }

  input[type='checkbox']:disabled + label {
    opacity: 0.65;
  }

  input[type='checkbox']:disabled + label:before {
    background-color: $text-color;
    cursor: not-allowed;
  }

  input[type='checkbox']:checked + label:before {
    background-color: $white;
    border-color: $brand-primary;
  }
}
