@charset 'UTF-8';

.form-control {
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0.7em;
  border-width: $input-border-size;
  font-family: $font-cocon;
  box-shadow: none;

  &.full-width {
    width: 100%;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px $input-bg inset;
  }

  &:focus {
    box-shadow: none;
    outline: none;
    background: $input-bg-focus;
    border-color: $input-border-focus;
  }

  @each $label, $color in $themes {
    &.form-control-#{$label} {
      &:focus {
        border-color: $color;
      }
    }
  }
}

.form-group {
  margin-top: 20px;

  label {
    margin-left: 0;
    margin-bottom: 0.3em;
    font-family: $font-frutiger;
    font-size: ceil($font-size-h6);
    font-weight: 700;
    letter-spacing: 0.04em;
    transition: opacity 0.25s ease-in-out;

    &:first-letter { text-transform: capitalize; }

    &.label-hidden {
      opacity: 0;
    }

  }

  legend {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5em;
    border: 0;
    font-size: $font-size-base;
    font-weight: 800;
    color: $label-color;
  }

  .input-error-desc {
    padding-top: 0.5em;
    font-family: $font-frutiger;
    font-size: ceil($font-size-h6);
    font-weight: 700;
    color: $brand-danger;
    letter-spacing: 0.04em;
  }

  &.error {
    .form-control {
      border-color: $brand-danger;
    }
  }

  &.readonly {
    .form-control {
      background: $input-bg-disabled;
      border-color: $input-border-disabled;
      color: $input-color-placeholder;
    }

    .input-group-btn .btn {
      background-color: darken($input-border-disabled, 15%);
      color: $input-color-placeholder;
    }
  }
}

.form-inline {
  .form-group {
    margin: 10px 5px;

    @media screen and (min-width: $screen-md-min) {
      margin: 20px 0 15px;
    }
  }
}

.input-group {
  position: relative;

  &.full-width { width: 100%; }

  .form-control {
    float: none;
    width: auto;
    max-width: 100%;

    &.full-width { width: 100%; }
  }

  .form-control:first-child {
    border-bottom-right-radius: $btn-border-radius-base;
    border-top-right-radius: $btn-border-radius-base;
  }

  .form-control:last-child {
    border-bottom-left-radius: $btn-border-radius-base;
    border-top-left-radius: $btn-border-radius-base;
  }

  .input-group-btn {
    position: absolute;
    top: $input-border-size;
    right: $input-border-size;
    width: auto;
    max-width: 100%;

    z-index: 10;

    .btn {
      margin-left: 0;
      padding-bottom: 0.6em;
      border-radius: $btn-border-radius-base - $input-border-size;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &.btn-icon {
        padding-bottom: 0.4em;
      }
    }
  }
}
