@charset 'UTF-8';

.input-radio-btn {
  .btn-group {
    .btn {
      border-color: $input-border;
      border-width: $input-border-size;
      transition: background-color 0.25s ease-in-out;
    }
  }

  .input-radio-btn-unit {
    display: inline-block;
    margin-left: 5px;
  }
}
