@charset 'UTF-8';

.input-group {
  position: relative;
  overflow: hidden;

  &.full-width { width: 100%; }

  .form-control {
    max-width: 100%;

    &.full-width { width: 100%; }
  }

  .form-control:first-child {
    border-bottom-right-radius: $btn-border-radius-base;
    border-top-right-radius: $btn-border-radius-base;
  }

  .form-control:last-child {
    border-bottom-left-radius: $btn-border-radius-base;
    border-top-left-radius: $btn-border-radius-base;
  }

  .input-group-btn {
    position: absolute;
    top: $input-border-size;
    right: $input-border-size;
    bottom: $input-border-size;
    width: auto;
    max-width: 100%;
    z-index: 10;
    border: none;

    .btn {
      height: 100%;
      margin-left: 0;
      padding-bottom: 0.6em;
      border-radius: $btn-border-radius-base - $input-border-size;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      /* IE10+ CSS */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-height: 47px;
      }

      &.btn-icon {
        max-height: 2.9em;
        padding-bottom: 0.6em;

        /* stylelint-disable max-nesting-depth */
        /* IE10+ CSS */
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          max-height: 47px;
        }
        /* stylelint-enable max-nesting-depth */
      }

      // Hotfix crado for the search bar, which doesn't use the .btn-icon class
      // for whatever reason
      .retraitespopulaires-icon-search {
        display: table-cell;
      }
    }
  }
}

.readonly .input-group-btn .btn {
  background-color: darken($input-border-disabled, 15%);
  border-color: darken($input-border-disabled, 15%);
  color: $input-color-placeholder;
  cursor: not-allowed;
}
