@charset 'UTF-8';

.datepicker.form-control {
  padding: 0.7em;
}

.datepicker-dropdown {
  padding: 0 10px;
}

.datepicker table {
  border-collapse: separate;
  border-spacing: 5px;
}

.datepicker th.dow {
  font-weight: 600;
  color: $light-gray;
}

.table-condensed > tbody > tr > td.day {
  padding: 6px 7px 3px;
  border-radius: 50%;
}

/* stylelint-disable declaration-no-important */
/* The datepicker don't allow me to choose a wrapper class */

.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active {
  background: $black !important;
}
/* stylelint-enable declaration-no-important */

.table-condensed > thead > tr > th.prev,
.table-condensed > thead > tr > th.next {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
