.label {
  padding: 5px 10px 3px;
  background-color: $white;
  border: 1px solid transparent;
  border-radius: 20px;
  font-weight: normal;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;

  .list-inline & {
    display: inline-block;
    margin-bottom: 0.5em;
  }
}

.label-default { border-color: $label-default-bg; }
.label-success { border-color: $label-success-bg; }
.label-info { border-color: $label-info-bg; }
.label-danger { border-color: $label-danger-bg; }
.label-warning { border-color: $label-warning-bg; }

.label-primary {
  border-color: $label-primary-bg;

  &[href]:hover {
    background-color: $label-primary-bg;
  }

  @include theme-custom() {
    border-color: $color;

    &[href]:hover {
      background-color: $color;
      color: $white;
    }
  }
}
