@charset 'UTF-8';

/**
* Unordered List & Ordered List
*
* @TODO completely refactor with a new class like `.list-square`
*/

/* stylelint-disable no-duplicate-selectors */
/* Make the code unreadable otherwise */

.unstyled-list,
.unstyled-list {
  list-style: none;
  padding-left: 0.5em;
}

.unordered-list,
.ordered-list,
.treeview-list,
.facets-list {
  padding: 0;

  > li {
    line-height: 1.2em;
  }
}

.treeview-list,
.unordered-list,
.facets-list,
.filters-list {
  list-style: none;
  margin-left: 0;

  > ul {
    padding-left: 0.4em;
  }

  > li {
    margin-bottom: 0.3em;
  }

  &.list-inline li {
    margin-right: 0.3em;

    &:first-child {
      padding-left: 0;

      &:before {
        content: none;
      }
    }
  }
}

.treeview-list,
.facets-list,
.filters-list {
  > li {
    position: relative;
    padding-left: 20px;

    &:before {
      content: none;
      position: absolute;
      left: 0;
    }
  }
}

.unordered-list {
  &.list-inline li {
    margin-right: 0;
  }

  > li {
    @extend %square-bullet; // see typography.scss
  }
}

.treeview-list {
  margin-left: $grid-gutter-width / 2;

  > li {
    padding-left: 0.5em;

    &:before {
      content: '\231E'; // →
      top: 0;
      left: -0.5em;
      font-size: 1.2em;
    }
  }
}

.facets-list {
  > li {
    &:before {
      content: '→'; // →
      top: 0;
      font-size: 0.9em;
      color: $black;
    }
  }
}

.ordered-list {
  list-style: none;
  counter-reset: item;
  margin-left: $grid-gutter-width / 2;

  > ol {
    padding-left: 1.5em;
  }

  > li {
    position: relative;
    margin-bottom: 0.3em;
    padding-left: 0.5em;

    &:before {
      content: counter(item) '. ';  // 1.
      position: absolute;
      left: -0.5em;
      counter-increment: item;
      color: $gray;
    }
  }
}

.filters-list {
  padding-left: 0.5em;

  &.list-inline li {
    margin-right: 1.4em;

    &:first-child {
      padding-left: 0.6em;
    }
  }

  > li {
    position: relative;
    padding-left: 0.6em;
    line-height: 1.2em;

    .retraitespopulaires-icon {
      position: absolute;
      top: 0.4em;
      left: -0.5em;
      font-size: 0.6em;
      color: $black;

      &:hover {
        cursor: pointer;
        color: $brand-primary;

        @include theme(color);
      }
    }

    &.active {
      .retraitespopulaires-icon {
        color: $brand-primary;

        @include theme(color);
      }
    }
  }
}
/* stylelint-enable */
