@charset 'UTF-8';

/**
* Unordered List & Ordered List
*/

/* stylelint-disable no-duplicate-selectors */
/* Make the code unreadable otherwise */

ul.unstyled-list,
ol.unstyled-list {
  list-style: none;
  padding-left: 0.5em;
}

ul.unordered-list,
ol.ordered-list,
ul.treeview-list,
ul.facets-list {
  padding: 0;

  > li {
    line-height: 1.2em;
  }
}

ul.treeview-list,
ul.unordered-list,
ul.facets-list {
  list-style: none;
  margin-left: $grid-gutter-width / 2;

  > ul {
    padding-left: 0.4em;
  }

  > li {
    position: relative;
    margin-bottom: 0.3em;
    padding-left: 0.5em;

    &:before {
      content: '\0025A0'; // ■
      position: absolute;
      top: -0.2em;
      left: -0.5em;
      font-size: 0.8em;
      color: $gray;
    }
  }

  &.list-inline li {
    margin-right: 0.3em;
  }
}

ul.treeview-list {
  > li {
    &:before {
      content: '\231E'; // →
      top: 0;
      left: -0.5em;
      font-size: 1.2em;
    }
  }
}

ul.facets-list {
  > li {
    &:before {
      content: '→'; // →
      top: 0;
      left: -0.5em;
      font-size: 0.9em;
      color: $black;
    }
  }
}

ol.ordered-list {
  list-style: none;
  counter-reset: item;
  margin-left: $grid-gutter-width / 2;

  > ol {
    padding-left: 1.5em;
  }

  > li {
    position: relative;
    margin-bottom: 0.3em;
    padding-left: 0.5em;

    &:before {
      content: counter(item) '. ';  // 1.
      position: absolute;
      left: -0.5em;
      counter-increment: item;
      color: $gray;
    }
  }
}

ul.filters-list,
ol.filters-list {
  list-style: none;
  padding-left: 0.5em;

  > li {
    position: relative;
    margin-bottom: 0.3em;
    padding-left: 0.5em;

    .retraitespopulaires-icon {
      position: absolute;
      top: 0.6em;
      left: -0.5em;
      font-size: 0.6em;
      color: $black;

      &:hover {
        cursor: pointer;
        color: $brand-primary;
      }
    }

    &.active {
      .retraitespopulaires-icon { color: $brand-primary; }
    }
  }

  @each $label, $color in $themes {
    &.filters-list-#{$label} {
      > li .retraitespopulaires-icon:hover { color: $color; }
      > li.active .retraitespopulaires-icon { color: $color; }
    }
  }
}

@each $label, $color in $themes {
  ul.filters-list > li.active {
    .retraitespopulaires-icon.text-#{$label} {
      color: $color;

      &:hover { color: $black; }
    }
  }
}
/* stylelint-enable */
