@charset 'UTF-8';

.logo-retraitespopulaires {
  // This forces the logo wrapper to fit the image (required for the
  // alignment of the search icon at the right
  display: table;
  table-layout: fixed;
  width: 16rem;
  height: auto;
  max-height: 8rem;

  > a {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &.svg-responsive {
    max-height: initial;

    /**
    * IE9 & IE10 Hack SVG scaling.
    */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      img[src$=".svg"] {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    max-height: 100px;
  }
}

.logo-retraitespopulaires-lg {
  @media screen and (min-width: $screen-md-min) {
    width: 20rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
