@charset 'UTF-8';

.pagination {
  @include list-unstyled;

  > li {
    display: inline-block;

    + li:not(:last-child) > .btn-outline {
      border-color: transparent;
    }

    &.active {
      > .btn-outline {
        background-color: $brand-primary;
        color: $white;

        @include theme(background-color);
      }
    }
  }
}
