@charset 'UTF-8';

.search-box {
  i {
    font-size: 40px;
    color: $brand-primary;

    &:hover {
      color: $black;
    }
  }

  @each $label, $color in $themes {
    &.search-box-#{$label} i {
      color: $color;

      &:hover {
        color: $black;
      }
    }
  }
}
