@charset 'UTF-8';

.search-box {
  margin: 0 $grid-gutter-width;

  @media screen and (min-width: $screen-md-min) {
    margin: 0;
  }

  .retraitespopulaires-icon {
    font-size: 29px;
    color: $black;

    &:hover {
      color: $light-gray;
    }

    @media screen and (min-width: $screen-md-min) {
      & {
        color: $black;
      }

      @include theme(color);

      &:hover {
        color: $light-gray;
      }
    }
  }
}
