@charset 'UTF-8';

.section-bloc {
  display: block;
  width: 100%;
  margin: $grid-gutter-width/2 0;
  padding: $grid-gutter-width/2;
  border: 1px solid $brand-primary;
  border-radius: $border-radius-base;
  color: $text-color;

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  .section-title {
    display: inline-block;
    @include pretty-link($black, $white, $link-color);
    margin-bottom: $grid-gutter-width/2;
  }

  .section-content {
    margin: 0;
  }

}
