@charset 'UTF-8';

/**
* FontIcon
*/

.retraitespopulaires-icon {
  display: inline-block;
  line-height: 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $screen-sm-min) {
    flex-wrap: nowrap;
  }

  .retraitespopulaires-icon {
    transition: color 0.25s ease;

    @include theme(color);

    &:hover {
      @include theme(color, hover-color);
    }
  }
}

.social-list .retraitespopulaires-icon-color,
.retraitespopulaires-icon-color {
  &.retraitespopulaires-icon-twitter { color: $color-twitter; }
  &.retraitespopulaires-icon-facebook { color: $color-facebook; }
  &.retraitespopulaires-icon-linkedin { color: $color-linkedin; }
  &.retraitespopulaires-icon-youtube { color: $color-youtube; }
  &.retraitespopulaires-icon-instagram { color: $color-instagram; }
}

.social-list .button-bubble {
  margin: 0;

  .bubble-icon {
    font-size: 1rem;

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
      font-size: 1.7rem;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 1.2rem;
    }

    @media (min-width: $screen-xl-min) {
      font-size: 1.7rem;
    }
  }
}
