@charset 'UTF-8';

/**
* FontIcon
*/

i.retraitespopulaires-icon {
  display: inline-block;
  line-height: 0;
}

.retraitespopulaires-icon {
  transition: color 0.25s ease;

  &.retraitespopulaires-icon-twitter.retraitespopulaires-icon-dark,
  &.retraitespopulaires-icon-facebook.retraitespopulaires-icon-dark,
  &.retraitespopulaires-icon-linkedin.retraitespopulaires-icon-dark,
  &.retraitespopulaires-icon-youtube.retraitespopulaires-icon-dark,
  &.retraitespopulaires-icon-instagram.retraitespopulaires-icon-dark {
    color: $mine-shaft;
  }

  &.retraitespopulaires-icon-twitter.retraitespopulaires-icon-brand,
  &.retraitespopulaires-icon-facebook.retraitespopulaires-icon-brand,
  &.retraitespopulaires-icon-linkedin.retraitespopulaires-icon-brand,
  &.retraitespopulaires-icon-youtube.retraitespopulaires-icon-brand,
  &.retraitespopulaires-icon-instagram.retraitespopulaires-icon-brand {
    color: $brand-primary;
  }

  &.retraitespopulaires-icon-twitter.retraitespopulaires-icon-color {
    color: $color-twitter;

    &:hover,
    .hover {
      color: $brand-primary;
    }
  }

  &.retraitespopulaires-icon-facebook.retraitespopulaires-icon-color {
    color: $color-facebook;

    &:hover,
    .hover {
      color: $brand-primary;
    }
  }

  &.retraitespopulaires-icon-linkedin.retraitespopulaires-icon-color {
    color: $color-linkedin;

    &:hover,
    .hover {
      color: $brand-primary;
    }
  }

  &.retraitespopulaires-icon-youtube.retraitespopulaires-icon-color {
    color: $color-youtube;

    &:hover,
    .hover {
      color: $brand-primary;
    }
  }

  &.retraitespopulaires-icon-instagram.retraitespopulaires-icon-color {
    color: $color-instagram;

    &:hover,
    .hover {
      color: $brand-primary;
    }
  }
}
