@charset 'UTF-8';

$spacer-height: 60px;

.spacer {
  height: $spacer-height;
  &.spacer-xxl { height: $spacer-height * 4; }
  &.spacer-xl { height: $spacer-height * 2; }
  &.spacer-lg { height: $spacer-height * 1.5; }
  &.spacer-md { height: $spacer-height / 1.55; }
  &.spacer-sm { height: $spacer-height / 3; }
  &.spacer-xs { height: $spacer-height / 5; }
  &.spacer-xxs { height: $spacer-height / 7; }

  @media only screen and (max-width: $screen-sm-max) {
    height: $spacer-height / 2;
    &.spacer-xxl { height: $spacer-height * 1.5; }
    &.spacer-xl { height: $spacer-height; }
    &.spacer-lg { height: $spacer-height / 1.5; }
    &.spacer-md { height: $spacer-height / 2; }
    &.spacer-sm { height: $spacer-height / 5; }
    &.spacer-xs { height: $spacer-height / 10; }
    &.spacer-xxs { height: $spacer-height / 15; }
  }
}
