@charset 'UTF-8';

.teaser {
  box-sizing: content-box;

  &.teaser-fullclick {
    display: block;
    cursor: pointer;

    &:focus,
    &:active,
    &:hover {
      text-decoration: none;
    }
  }
}

.teaser.shadow.teaser-fullclick {
  transition:
    border 0.25s ease-in-out,
    box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  .heading-image:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    background: linear-gradient(to bottom, $brand-primary 0%, $transparent 100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    border-color: darken($brand-primary, 10);
    box-shadow: 0 65px 75px -45px darken($shadow-gray, 0.3);

    .heading-image:before {
      opacity: 0.1;
    }
  }

  &:active.shadow-down,
  &:focus.shadow-down {
    border-color: $mine-shaft;
    box-shadow: 0 45px 75px -45px $shadow-gray;
  }

  @each $label, $color in $themes {
    &.teaser-#{$label} {
      .heading-image:before {
        background: linear-gradient(to bottom, $color 0%, $transparent 100%);
      }

      &:hover {
        border-color: darken($color, 10);
      }
      border-color: $color;
    }
  }
}
