@charset 'UTF-8';

.well {
  box-shadow: none;

  &.well-danger {
    background-color: lighten($brand-danger, 45%);
    color: $brand-danger;
  }

  &.well-success {
    background-color: lighten($brand-success, 45%);
    color: $brand-success;
  }
}
