@charset "UTF-8";

.managed-by-link {
  a,
  a:hover {
    background: none; // remove pretty-link on all a inside a p (O.o)
  }

  img {
    display: inline;
    margin-top: -35px;
    max-width: 140px;
    line-height: 0;
  }
}
