<div ng-cloak class="ng-cloak">
   <div class="copyright-disclaimer">
      
      <a href="http://www.logismata.ch" id="copyright" target="_blank" ng-bind-html="'Application.Copyright' | i18n"></a>
      <span>&nbsp;</span>
      <span id="routeid"/>
      <br>
      
      <span class="app-version" ng-bind-html="'Application.VersionInfo'|i18n:{'VERSION': appVersion}" ng-if="hasVersion"/>
      <span class="" ng-if="hasVersion"> - </span>
      <a href="" id="legal-notice-button" ng-bind-html="'Application.TermsOfUse'|i18n" onclick="openDisclaimer()" ></a>
      <br>
      
      <!-- <p id="routeid"></p> -->
   </div>
   <div ng-include="'disclaimer.html'" ng-cloak class="ng-cloak"></div>
</div>

<script>
   function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i=0; i<ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1);
          if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
      }
      return "";
   }
   
   function setRouteIdCookie() {
      $('#routeid').text(getCookie("ROUTEID"));
   }
   
   $(function() {
      setRouteIdCookie();
   });
</script>
