<!doctype html>   
<html lang="de">
   <head>
      <meta name="fragment" content="!" />
      <meta charset="UTF-8">
      
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
      <meta name="description" content="Finden Sie verschiedene Berechnungsmöglichkeiten gruppiert nach Themen Wohnen, Steuern, Vorsorge und Sparen. Berechnen Sie Einkommens- und Kapitalleistungssteuern, Tragbarkeit und Vergleich Miete/Kauf, Sparmöglichkeiten und Einkommen in der Pension.">

      <!--[if IE 9]>
         <script type="text/javascript">
            window.isIE9 = true;
         </script>
      <![endif]-->

      <!--[if IE 9]><!-->
      <script type="text/javascript">
         if (window.isIE9) {
            var baseTag =
                    "<base " +
                    "href='" + window.location.href + "/'" +
                    "/>";
            document.write(baseTag);
         }
      </script>
      <!-- <![endif]-->
      <!--[if gt IE 9]><!-->
<base href="/rpopulaires/app/">
      <!-- <![endif]-->

      <!--[if IE 9]>
      <link href="./src/style_ie9_1.css" type="text/css" rel="stylesheet">
      <link href="./src/style_ie9_2.css" type="text/css" rel="stylesheet">
      <link href="./src/style_ie9_3.css" type="text/css" rel="stylesheet">
      <link href="./src/style_ie9_4.css" type="text/css" rel="stylesheet">
      <link href="./src/style_ie9_5.css" type="text/css" rel="stylesheet">
      <![endif]-->
      <!--[if gt IE 9]><!-->
      <link href="./src/style.css" type="text/css" rel="stylesheet">
      <!-- <![endif]-->
      
      <!-- WARNING: target dir and raven version replaced on deployment -->
      <link rel="apple-touch-icon" sizes="57x57" href="./resources/favicons/apple-touch-icon-57x57.png?v=1.0.0">
      <link rel="apple-touch-icon" sizes="60x60" href="./resources/favicons/apple-touch-icon-60x60.png?v=1.0.0">
      <link rel="apple-touch-icon" sizes="72x72" href="./resources/favicons/apple-touch-icon-72x72.png?v=1.0.0">
      <link rel="apple-touch-icon" sizes="76x76" href="./resources/favicons/apple-touch-icon-76x76.png?v=1.0.0">
      <link rel="apple-touch-icon" sizes="114x114" href="./resources/favicons/apple-touch-icon-114x114.png?v=1.0.0">
      <link rel="apple-touch-icon" sizes="120x120" href="./resources/favicons/apple-touch-icon-120x120.png?v=1.0.0">
      <link rel="apple-touch-icon" sizes="144x144" href="./resources/favicons/apple-touch-icon-144x144.png?v=1.0.0">
      <link rel="apple-touch-icon" sizes="152x152" href="./resources/favicons/apple-touch-icon-152x152.png?v=1.0.0">
      <link rel="apple-touch-icon" sizes="180x180" href="./resources/favicons/apple-touch-icon-180x180.png?v=1.0.0">
      <link rel="icon" type="image/png" href="./resources/favicons/favicon-32x32.png?v=1.0.0" sizes="32x32">
      <link rel="icon" type="image/png" href="./resources/favicons/android-chrome-192x192.png?v=1.0.0" sizes="192x192">
      <link rel="icon" type="image/png" href="./resources/favicons/favicon-96x96.png?v=1.0.0" sizes="96x96">
      <link rel="icon" type="image/png" href="./resources/favicons/favicon-16x16.png?v=1.0.0" sizes="16x16">
      <link rel="manifest" href="./resources/favicons/manifest.json?v=1.0.0">
      <link rel="shortcut icon" href="./resources/favicons/favicon.ico?v=1.0.0">
      <meta name="apple-mobile-web-app-title" content="Online Rechner">
      <meta name="application-name" content="Online Rechner">
      <meta name="msapplication-TileColor" content="#ffc40d">
      <meta name="msapplication-TileImage" content="./resources/favicons/mstile-144x144.png?v=1.0.0">
      <meta name="msapplication-config" content="./resources/favicons/browserconfig.xml?v=1.0.0">
      <meta name="theme-color" content="#ffffff">

      <!-- Google Analytics -->
      <script>
         var gaInitialized = false;
         function initializeGoogleAnalytics(googleAnalyticsTrackers) {
            if (gaInitialized) {
               return;
            }

            gaInitialized = true;                  

            if (googleAnalyticsTrackers.length > 0) {
               (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
               })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

               googleAnalyticsTrackers.forEach(function (analyticsAccount) {
                  ga('create', analyticsAccount.id, 'auto', {'name': analyticsAccount.name});  // New tracker.
                  ga(analyticsAccount.name + '.' + 'set', 'anonymizeIp', true);
                  ga(analyticsAccount.name + '.' + 'set', 'transport', 'beacon');
               });
            }
         }
      </script>
      <!-- End Google Analytics -->

      <!-- Allow custom header script -->
      <script src="./custom-header-script.js"></script>
   </head>
   
   <!--[if lte IE 8]>
   <body>
      <div class="not-supported-message-panel-heading">
      </div>
      <div class="not-supported-message-box">
         <p>Dieser Online-Rechner setzt aktuelle und sichere Browser
         voraus. Ihr Browser ist nicht mehr unterstützt. <br>Bitte
         benutzen Sie einen der folgenden Browser, jeweils
         mit der neuesten Version und entsprechenden Updates:<br>
         - Internet Explorer ab V9, empfohlen V11<br>
         - Firefox<br>
         - Chrome 
         </p>
      </div>
   </body>

   <![endif]-->
   
   <!--[if gt IE 8]><!-->
   <body data-status="{{status}}" active-controller="{{activeController}}" >
      <a id="font-icon-preloader"></a>

      <noscript>
         <div class="not-supported-message-panel-heading"></div>
         <div class="not-supported-message-box">
            <p>Dieser Onlinerechner benutzt Javascript, welches in Ihrem Browser deaktiviert ist. Bitte aktivieren Sie Javascript damit Sie die Rechner verwenden können.</p>
         </div>
         <!--<style type="text/css">
             #main-content { display:none; }
         </style>-->
      </noscript>

      <div id="main-content" class="outside-container">
         <div id="loader" class="loader">            
            <div class="loading ng-cloak">
               <div class="loading-image"></div>
            </div>
         </div>

         <script type="text/javascript">
            // The loader must remain hidden in browsers where JavaScript is disabled.
            // To do so, the loader starts intentionally hidden with the ng-cloak class.
            // This simple script (no jquery, requirejs, angularjs) removes the ng-cloak class and makes it visible, only if JavaScript is enabled.
            var loader = document.getElementById('loader');
            var loaderClass = loader.getAttribute('class');
            loader.setAttribute('class', loaderClass.replace('ng-cloak', ''));
         </script>
         
         <div id="custom-outside-header" ng-include="'custom-outside-header.html'" ng-cloak class="ng-cloak full-width">
         </div>

         <div class="inner-container container-type container-xs-height container-sm-height container-md-height container-lg-height">
            <div ng-cloak class="row header-container ng-cloak" ng-if="!singleCalculation">
               <div class="col-md-12">
                  <header class="navbar bs-docs-nav ng-cloak" role="banner" id="top" ng-cloak >
                     <div class="row full-width">
                        <div id="custom-header" ng-include="'custom-header.html'" ng-cloak class="ng-cloak full-width">
                        </div>
                     </div>
                     <div class="row">
                        <div class="navbar-header full-width">
                           <div class="ApplicationTitle">
                              <title-link></title-link>
                           </div>
                        </div>
                     </div>
                  </header>
                  <div class="navbar-header-emphasis"></div>
               </div>               
            </div>
            <div class="row main-container">
               <div class="col-md-12 main-container-section">
                  <!--<debugging-view></debugging-view>-->
                  <section ng-view>
                  </section>
               </div>
            </div>

            <footer id="custom-footer" ng-include="'custom-footer.html'" ng-cloak class="ng-cloak" ng-if="!singleCalculation">
            </footer>

            <script type="text/javascript"> 
               window.appVersion = "1.0.0";
            </script>
            
            <footer id="copyright-disclaimer" ng-include="'copyright-disclaimer.html'" ng-cloak class="ng-cloak display-none" ng-if="showCopyrightDisclaimer">
            </footer>
         </div>
         
         <div id="custom-outside-footer" ng-include="'custom-outside-footer.html'" ng-cloak class="ng-cloak full-width">
         </div>
         
         <script src="lib/requirejs-2.3.5/require.js" type="text/javascript" data-main="src/main-1.0.0"></script>
      </div>
   </body>
   <!-- <![endif]-->
</html>
