{% extends "@retraitespopulaires/pages/page.html.twig" %}

{% block attachments %}
  <div class="spacer"></div>
  {{ bamboo_render_block('rp_site_buildings_collection_block') }}

  {{ bamboo_render_block('rp_contact_contact_attachment_block') }}
{% endblock %}
