{% extends "@retraitespopulaires/pages/page--secondarynav.html.twig" %}

{% block attachments %}
  <div class="spacer"></div>
  {{ load_block('rp_site_buildings_collection_block') }}

  <div class="spacer"></div>
  {{ load_block('rp_contact_contact_attachment_block', {'theme': 'immobilier'}) }}
{% endblock %}
