{% extends "@retraitespopulaires/pages/page-fullscreen.html.twig" %}

{% block main_bottom_content %}
  <div class="spacer"></div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-push-1 col-xl-6 col-xl-push-3">
      {{ load_form('rp_contact', 'GlobalContactForm') }}
    </div>
  </div>
{% endblock %}
