{% extends "@retraitespopulaires/pages/page--secondarynav.html.twig" %}

{% block main_bottom_content %}
  <div class="spacer"></div>
  {{ load_block('rp_site_management_contracts_collection_block') }}
{% endblock %}
