{% extends "@retraitespopulaires/pages/page.html.twig" %}

{% block cover %}
  {{ load_block('rp_layout_cover_block',{'theme': 'immobilier'}) }}
  <div class="spacer"></div>
{% endblock %}

{% block attachments_contact %}{{ load_block('rp_contact_contact_attachment_block', {'theme': 'immobilier'}) }}{% endblock %}
{% block attachments_attachments %} {{ load_block('rp_site_attachments_block', {'theme': 'immobilier'}) }}{% endblock %}
{% block attachments_news_latest %}{% endblock %}
