{% extends "@retraitespopulaires/pages/page-fullscreen.html.twig" %}

{% block attachments %}
  <div class="spacer"></div>
  {{ load_block('rp_site_pages_collection_block', {'node': node}) }}
  {{ load_block('rp_site_news_latest_block') }}
{% endblock %}

