<a href="{{ path('entity.node.canonical', {'node': variables.profil.nid.value}) }}" class="card card-white">
  <div class="card-body">
    <span class="icon-text icon-text-center text-primary">
      <span class="retraitespopulaires-icon retraitespopulaires-icon-{{ variables.icon }} retraitespopulaires-icon-3x"></span>
      <h4 class="icon-text-txt text-secondary">{{ variables.profil.title.value }}</h4>
    </span>
    <div class="spacer spacer-sm"></div>
    <p>{{ variables.profil.body.summary }}</p>
  </div>
</a>
