{% if variables.profils %}
<div class="container">
  <div class="row">
    {% for profil in variables.profils %}
    <div class="col-xs-12 col-sm-4">
      {{ load_block('rp_homepage_profil_teaser_block', {'profil': profil}) }}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
