/**
 * Form edit action theming.
 * Copied styling from .button--primary.
 */

.js .form-actions .dropbutton-widget {
  border-color: #008e4f;
  background-color: #009966;
}
.js .form-actions .dropbutton-widget,
.form-actions .dropbutton-multiple.open .dropbutton-widget,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button{
  background-color: #009966;
  background-image: -webkit-linear-gradient(top, #00a261, #008e4f);
  background-image:   linear-gradient(to bottom, #00a261, #008e4f);
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:hover,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:focus,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background-color: #008e4f;
  background-image: -webkit-linear-gradient(top, #00a261, #008e4f);
  background-image:   linear-gradient(to bottom, #00a261, #008e4f);
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button,
.form-actions .dropbutton .secondary-action {
  border-color: #008e4f;
}

.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:active,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:active {
  background-image: -webkit-linear-gradient(top, #008e4f, #009966);
  background-image:   linear-gradient(to bottom, #008e4f, #009966);
  border-color: #008e4f;
}
