  {# Content Bottom #}
  {% if page.content_bottom %}
  <div class="col-sm-12">
    <div class="row">
        {% block content_bottom %}
            {{ page.content_bottom }}
        {% endblock %}
    </div>
  </div>
  {% endif %}
