{# Page Header #}
{% if page.header %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-push-1 col-xl-6 col-xl-push-3">
      {% block header %} {{ page.header }} {% endblock %}
    </div>
  </div>
</div>
{% endif %}
