<span class="topic-link" ng-if="$ctrl.available">
   <span ng-if="!$ctrl.showTopicContent">
      <div class="float-clear accessibility-link">
         <a class="option-link accessibility-link unselected" href="" ng-click="$ctrl.onClicked()" id="{{$ctrl.collapsedId}}">
            <span class="topic-link__title" ng-bind-html="$ctrl.titleLabel"></span>
            <span ng-bind-html="$ctrl.collapsedLabel"></span>
            <div class="topic-link__image {{ $ctrl.unselectedClass }}"></div>
         </a>
         <div class="std-text-note option-text" ng-bind-html="$ctrl.collapsedLabel">
         </div>
      </div>
   </span>

   <span class="topic-link__content-shown" ng-if="$ctrl.showTopicContent">
      <div class="topic-link__option">
         <a class="topic-link__content accessibility-link" href="" ng-click="$ctrl.onClicked()" id="{{$ctrl.linkId}}"
            ng-class="$ctrl.isSelected() ? 'selected' : 'unselected'">
            <span class="topic-link__title" ng-bind-html="$ctrl.titleLabel"></span>
            <span ng-bind-html="$ctrl.expandedLabel"></span>
            <div ng-cloak
                 class="topic-link__image"
                 ng-class="$ctrl.isSelected() ? $ctrl.selectedClass : $ctrl.unselectedClass"></div>
         </a>
         <div class="topic-link__description" ng-bind-html="$ctrl.descriptionLabel" ng-show="$ctrl.descriptionLabel"></div>
      </div>
   </span>
</span>