<div class="numeric-field" id="{{ fieldId }}_numeric_field">
   <div class="form-group" id="{{ fieldId }}_form_group">
      <div class="numeric-field-input" id="{{ fieldId }}_numeric_field_input">
         <label for="{{ fieldId }}_input" class="numeric-field-label" ng-show="showLabel" id="{{ fieldId }}_label" ng-bind-html="label"></label>
         <div id="{{ fieldId }}_input_group" ng-class="showCalculator || isEditable || isExpandable ? 'input-group': ''">
            <input ng-if="isPercentage"
               value="%"
               class="form-control numeric-field-type numeric-field-type-percentage"
               tabindex="-1" disabled/>
            <input ng-if="isCurrency"
               value="CHF"
               class="form-control numeric-field-type numeric-field-type-currency"
               tabindex="-1" disabled/>
            <input ng-disabled="shouldBeDisabled()"
                   id="{{ fieldId }}_input"
                   type="text"
                   ng-model="visualModel"
                   class="form-control"
                   ng-class="{'input-text-indent': isPercentage || isCurrency, 'input-text-indent-percentage': isPercentage, 'input-text-indent-currency': isCurrency}"
                   aria-describedby="{{ addonId }}"/>
            <span ng-if="isEditable" class="input-group-btn" id="{{ fieldId }}_edition" ng-click="onEdit()">
               <button class="btn btn-default button-icon">
                  <div class="icon-expand"></div>
               </button>
            </span>
            <span ng-if="showCalculator" class="input-group-btn" id="{{ calculatorId }}" ng-click="onCalculator()">
               <button class="btn btn-default button-icon">
                  <div ng-class="{'calculator-off-image': manualEntryModel, 'calculator-on-image': !manualEntryModel}"></div>
               </button>
            </span>
            <span ng-if="isExpandable" class="input-group-btn" id="{{ fieldId }}_expansion" ng-click="onExpand()">
               <button class="btn btn-default button-icon">
                  <div ng-class="isExpanded()?'expand-icon':'collapse-icon'"></div>
               </button>
            </span>
         </div>
      </div>
      <div class="numeric-field-range" ng-show="showRange">
         <div class="slider" float ng-model="ngModel" id="{{ fieldId }}_range"></div>
      </div>
   </div>
</div>
