{% if variables.product.nid.value %}
<a href="{{ path('entity.node.canonical', {'node': variables.product.nid.value}) }}" class="card card-white">
  <div class="card-body">
    <h3 class="card-title h1 m-0">{{ variables.product.title.value }}</h3>
  </div>
  <div class="card-body flex-1 card-berrylight-gray">
    {% if variables.product.field_subtitle.value %}
      <h4 class="m-t-0">{{ variables.product.field_subtitle.value }}</h4>
    {% endif %}
    <p>{{ variables.product.body.summary }}</p>
  </div>
</a>
{% endif %}
