{% if variables.building.nid.value %}
<a href="{{ path('entity.node.canonical', {'node': variables.building.nid.value}) }}" class="teaser teaser-fullclick teaser-rental teaser-rental-immobilier teaser-rental-orientation- shadow shadow-down">
  {% if not variables.building.field_cover.entity.uri.value is empty %}
  <div class="rental-heading">
    <div class="heading-image" style="background-image: url({{ file_url(variables.cover.xl) }})"></div>
    <div class="loader-image">
      <div class="loader">
        <div class="loader-yingyang loader-immobilier"></div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="rental-body">
    <div class="row">
       <div class="col-sm-12">
        <h5 class="rental-type h5 text-muted">{{ variables.building.field_building_type.value }}</h5>
      </div>
    </div>
    <div class="spacer spacer-xs"></div>
    <div class="row">
      <div class="col-sm-12">
        <h1 class="rental-title h1 link-immobilier">{{ variables.building.title.value }}</h1>
      </div>
    </div>
  </div>
</a>

{% endif %}
