<div id="contacter-nous" class="attachments-contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="h2 pull-left">{% trans %}Nous sommes disponible pour vous{% endtrans %}</div>
        <a class="pretty-link pretty-link-berrylight-gray pull-right text-{{ variables.theme }}">{% trans %}Contacter Retraites&nbsp;Populaires{% endtrans %}</a>
      </div>
    </div>

    <div class="spacer"></div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        {% if variables.contact %}
          {{ load_block('rp_site_contact_teaser_block', {'node': variables.node, 'contact': variables.contact}) }}
        {% else %}
          {{ load_block('rp_site_contact_placeholder_teaser_block', {'theme': variables.theme}) }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
