{% if variables.faq.nid.value %}
<div class="media">
  <div class="media-left">
    <a href="{{ path('entity.node.canonical', {'node': variables.faq.nid.value}) }}" class="retraitespopulaires-icon retraitespopulaires-icon-faq-thick retraitespopulaires-icon-2x"></a>
  </div>
  <div class="media-body">
    <a href="{{ path('entity.node.canonical', {'node': variables.faq.nid.value}) }}" target="_blank" class="pretty-link h5">{{ variables.faq.title.value }}</span></a>
  </div>
</div>
{% endif %}
