{% if variables.faq.nid.value %}
<a href="{{ path('entity.node.canonical', {'node': variables.faq.nid.value}) }}" class="teaser teaser-fullclick teaser-faq shadow shadow-down">
  <div class="faq-body">
    <div class="faq-title h4">{{ variables.faq.title.value }}</div>
  </div>
</a>
{% endif %}
