{% if variables.news %}
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      {{ bamboo_render_block('rp_site_news_filter_block') }}
    </div>
    <div class="col-lg-10">
      <div class="row flex-row">
        {% for news in variables.news %}
        <div class="col-sm-6">
          {{ bamboo_render_block('rp_site_news_teaser_block', {'news': news}) }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% if variables.pager %}
  <div class="row">
    <div class="col-xs-10 text-center">
      {{ variables.pager }}
    </div>
  </div>
  {% endif %}
</div>

{% endif %}
