{% if variables.news %}
<div class="spacer"></div>

<div class="row">
  <div class="col-md-4">
    {{ load_block('rp_site_news_filter_block') }}
  </div>
  <div class="col-md-8">
    <div class="row flex-row">
      {% for news in variables.news %}
      <div class="col-xs-12 col-lg-6">
        {{ load_block('rp_site_news_teaser_block', {'news': news}) }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if variables.pager %}
<div class="row">
  <div class="col-xs-12 col-md-7 col-md-offset-4 col-lg-8 col-lg-offset-3 col-xl-6 col-xl-offset-3 text-center">
    {{ variables.pager }}
  </div>
</div>
{% endif %}

{% endif %}
