{% if variables.node %}
<a href="{{ variables.link }}" class="button-bubble text-center pull-left shadow" style="display: block; position: fixed; bottom: 0; right: 0; z-index: 999; padding: 0 32px; margin: 32px; background: #fff; border: 1px solid #008e4f; border-radius: 4px;">
  <div class="spacer spacer-xs"></div>
  <div class="bubble-icon">
    <i class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-edit"></i>
  </div>
  <div class="bubble-link">
    <span class="pretty-link">{{ variables.text }}</span>
    <div class="text-muted text-small">#{{ variables.node.nid.value }}</div>
  </div>
</a>
{% endif %}
