{% for profil in variables.profil %}
  {% if loop.index0 > 0 %} <div class="spacer spacer-md"></div> {% endif %}
  <div class="attachements-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="h2 pull-left">{{ profil.title }}</h2>
        </div>
      </div>
      <div class="row">
          {% for item in profil.menu %}
            {% if item.hasChildren %}
               {% for subitem in item.subtree %}
                 <div class="col-xs-12 col-md-4">
                   {{ load_block('rp_site_page_teaser_block', {'menu': subitem}) }}
                 </div>
               {% endfor %}
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
