{% for profil in variables.profil %}
  <div class="attachements-wrapper">
    <div class="container">
      <h2 class="h2">{{ profil.title }}</h2>
      <div class="row flex-row">
          {% for item in profil.menu %}
            {% if item.hasChildren %}
               {% for subitem in item.subtree %}
                 <div class="col-xs-12 col-md-4">
                   {{ load_block('rp_site_page_teaser_block', {'menu': subitem}) }}
                 </div>
               {% endfor %}
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
