{% if variables.product.nid.value %}
{% set theme = variables.product.field_profession.target_id|theme_profession %}
<div class="theme-{{ theme }}">
  <a href="{{ path('entity.node.canonical', {'node': variables.product.nid.value}) }}" class="card">
    <div class="card-body">
      <h3 class="card-title h1 m-0">{{ variables.product.title.value }}</h3>
    </div>
    <div class="card-footer card-berrylight-gray">
      <p>{{ variables.product.body.summary }}</p>
    </div>
  </a>
</div>
{% endif %}
