{% for category in variables.categories %}
<p class="media-heading text-muted">{{ category.term.name.value }}</p>
<ul class="facets-list">
  {% for child in category.children %}
    <li><a href="{{ path('<current>', {'filtre': child.alias }) }}" class="{{ child.alias == variables.current_alias ? 'active' }} pretty-link">{{ child.term.name.value }}</a></li>
  {% endfor %}
</ul>
<div class="spacer spacer-sm"></div>
{% endfor %}
