{% if variables.result.nid %}
<a href="{{ path('entity.node.canonical', {'node': variables.result.nid}) }}" class="teaser teaser-fullclick teaser-search shadow shadow-down">
  <div class="search-heading">
    <div class="text-primary">
      <div class="text-cocon h4">{{ variables.result.title }}</div>
      <div class="spacer spacer-xs"></div>
      <div class="text-cocon h6 text-muted">{{ variables.result.type|upper }}</div>
      <div class="spacer spacer-xs"></div>
    </div>
  </div>
  <div class="search-body">
    {% if variables.result.body %}
      {% set body = variables.result.body %}
      <p class="m-0">{{ body|raw }}</p>
    {% endif %}
  </div>
</a>
{% endif %}
