{# mobile navigation #}
{% include '@retraitespopulaires/rp_layout/blocks/partials/mobile-menu.html.twig' with {'main_menu': variables.main_menu, 'pre_main_menu': variables.pre_main_menu, 'pre_main_menu_active_trail': variables.pre_main_menu_active_trail, 'main_menu_active_trail': variables.main_menu_active_trail} only %}

<header class="header hidden-print">
  <div class="container container-offset">
    <div class="row">
      <div class="bg-white col-xs-12">

        <div class="header-container">

          {# Logo #}
          <div class="logo-retraitespopulaires logo-retraitespopulaires-lg logo-retraitespopulaires-offset">
            <a href="{{ path('<front>') }}">
              <img class="img-responsive" src="/{{ directory }}/build/svg/logo-retraitespopulaires.svg" alt="Retraites Populaires" title="{% trans %}Cliquez pour accéder à la page d'accueil de Retraites Populaires{% endtrans %}">
            </a>
          </div>

          {# prenavbar with search #}
          {% include '@retraitespopulaires/rp_layout/blocks/partials/pre-main-menu.html.twig' with {'pre_main_menu': variables.pre_main_menu, 'pre_main_menu_active_trail': variables.pre_main_menu_active_trail} only %}

          {# hamburger for mobile #}
          {% include '@retraitespopulaires/rp_layout/blocks/partials/hamburger.html.twig' %}
        </div>

        {# main navbar first level only #}
        {% include '@retraitespopulaires/rp_layout/blocks/partials/main-menu.html.twig' with {'main_menu': variables.main_menu, 'main_menu_active_trail': variables.main_menu_active_trail} only %}

      </div>
    </div>
  </div>
</header>
