<header class="header hidden-print">
  <div class="container header-container">
    <div class="logo-retraitespopulaires">
      <a class="" href="{{ path('<front>') }}">
        <img class="img-responsive" src="/{{ directory }}/build/svg/logo-retraitespopulaires.svg" alt="" title="{% trans %}Cliquez pour accéder à la page d'accueil de Retraites Populaires{% endtrans %}">
      </a>
    </div>

    <div class="header-search hidden-xs">
      {{ load_form('rp_site', 'SearchForm') }}
    </div>

    <div class="header-nav" aria-hidden="true">
      <div class="hamburger-wrapper">
        <div class="hamburger-button">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <svg class="hamburger-circle" x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
            <circle fill="transparent" stroke="#656e79" stroke-width="1.5" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
          </svg>
        </div>
        <div class="hamburger-helper text-secondary">
          <div class="helper-when-close">{% trans %}Menu{% endtrans %}</div>
          <div class="helper-when-open">{% trans %}Fermer{% endtrans %}</div>
        </div>
      </div>
    </div>
</header>
