<div class="{{ theme_hook_original }}">
  <p>{% trans %}N'hésitez pas à nous <a href="mailto:{{ variables.contact.field_email.value }}">contacter</a> !{% endtrans %}</p>
  <div><a href="tel:{{ variables.contact.field_phone.value }}">{{ variables.contact.field_phone.value }}</a></div>
</div>
