<div class="{{ theme_hook_original }}">
  Documents block
  <ul>
   {% for doc in variables.documents %}
    <li>
      <a href="{{ path('rp_site.documents.download', {'node': doc.nid.value}) }}">{{ doc.title.value }}</a>
    </li>
   {% endfor %}
  </ul>
</div>
