<div class="{{ theme_hook_original }}">
  FAQs
  <ul>
   {% for faq in variables.faqs %}
    <li>
      <a href="">{{ faq.title.value }}</a>
    </li>
   {% endfor %}
  </ul>

  <a href="{{ variables.collection.link }}">{% trans %}Accéder à tous les FAQ relatives à {{ variables.collection.name }}{% endtrans %}</a>
</div>
