<a href="{{ path('entity.node.canonical', {'node': variables.product.nid.value}) }}" class="teaser-product shadow shadow-down">
  <div class="product-heading">
    <div class="product-title h1">
      <div class="product-prefix">RP</div>
      {{ variables.product.title.value }}
    </div>
  </div>
  <p class="product-body">{{ variables.product.body.summary }}</p>
</a>
