<div id="ProfileBar" class="profile-bar row ng-cloak navbar-right" ng-cloak ng-if="showProfileBar()">
   <div ng-show="!getUserLogged()">
      <button id="profileLogIn" ng-show="showLogin()" class="profile-bar__btn profile-bar__btn--login btn btn-default btn-xs" ng-click="logIn()">
        <span class="icon-login" aria-hidden="true"></span> {{"Profile.LogIn"|i18n}}
      </button>
      <button id="profileRegister" ng-show="showRegister()"  class="profile-bar__btn profile-bar__btn--register btn btn-default btn-xs" ng-click="register()">
         <span class="icon-login" aria-hidden="true"></span> {{"Profile.Register"|i18n}}
      </button>
   </div>
   <div ng-show="getUserLogged()">
      <button id="profileLogOut" class="profile-bar__btn btn btn-default btn-xs" ng-click="logOut()">
        <span class="icon-log-out" aria-hidden="true"></span> {{"Profile.LogOut"|i18n}}
      </button>
      <a class="profile-bar__link" href="" ng-click="onUserLogged()" ng-class="{'profile-bar__demo-account': isDemoAccount()}">
         <span id="userLogged" class="linkOnFormText right-arrow" ng-bind-html="getUserLogged()"></span>
      </a>
   </div>
</div>