{% extends "@retraitespopulaires/node/node.html.twig" %}

{% block node_bottom %}
  {% embed "@retraitespopulaires/node/partials/attached_documents.html.twig" with {'documents': node.field_document_page} %}{% endembed %}

  {% embed "@retraitespopulaires/node/partials/attached_files.html.twig" with {'files': node.field_file_page} %}{% endembed %}
{% endblock %}

{% block node_bottom_outer %}
  <!-- Form -->
  {% if content.field_form is not empty and content.field_form['#field_type'] == 'webform' %}
    <div class="spacer"></div>
    <div class="background-overflow bg-berrylight-gray">
      <div class="spacer"></div>
      <div class="row">
        <div class="{{ node_content_width|join(' ') }}">
          <div class="card">
            <div class="card-body">
              {{ content.field_form }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {{ load_block('rp_site_products_block') }}
{% endblock %}
