{% extends "@retraitespopulaires/node/node--page.html.twig" %}

{# we want the full width for the iframe of modulo calculator #}
{% set node_content_width = [ 'col-xs-12' ] %}

{% block node_bottom %}
  {{ load_block('rp_modulo_logistima_iframe_block') }}
  {# Shity markup from Logistima #}
  <p><span lang="FR" style="color: rgb(51, 51, 51); font-family: &quot;Frutiger Neue&quot;; font-size: 13pt; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-bidi-font-family: Calibri; mso-ansi-language: FR; mso-fareast-language: EN-US; mso-bidi-language: AR-SA;">Le calculateur Modulo fournit des estimations sur la base des informations que vous saisissez. Les résultats des calculs sont fournis uniquement à titre informatif.&nbsp;Retraites Populaires ne garantit pas l’exactitude des informations du calculateur Modulo et n’est en aucun cas responsable d’un éventuel dommage lié à l’utilisation de ce logiciel. En outre, Retraites Populaires souligne expressément qu’elle n’offre aucune garantie quant aux informations d’ordre fiscal.</span></p>
{% endblock %}
