{% extends "@retraitespopulaires/node/node--page.html.twig" %}

{% block node_bottom_outer %}
  {{ bamboo_render_block('rp_contact_contacts_collection_block') }}
  <div class="spacer"></div>
{% endblock %}
