{% extends "@retraitespopulaires/node/node.html.twig" %}

{% block node_bottom %}
  {% if node.field_web_site.uri %}
    <div class="spacer"></div>
    <a class="btn btn-lg" href="{{ node.field_web_site.uri }}">{% trans %}Lien vers le magazine{% endtrans %}</a>
  {% endif %}
{% endblock %}

{% block node_bottom_outer %}
  {# Get diff days before the offer is finished #}
  {% set end_date = node.field_date_end.date|date_modify('tomorrow - 1 second') %}
  {% set left = (end_date.timestamp - date('now').timestamp) / 60 / 60 / 24 %}

  {% if left >= 0 %}
    <div class="spacer spacer-md"></div>
    <div class="background-overflow bg-berrylight-gray">
      <div class="row">
        <div class="{{ node_content_width|join(' ') }}">
          <div class="spacer spacer-md"></div>
          <div class="card">
            <div class="card-body">
              {{ load_form('rp_offers', 'RequestForm', {'node': node}) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}

  {% endif %}
{% endblock %}
