{% extends "@retraitespopulaires/node/node.html.twig" %}

{% block node_top %}
  <p>
    <time class="text-muted page-title" datetime="{{ node.field_date.date|date_format('c') }}">
    {{ node.field_date.date|date_format('d F Y')|capitalize }}
    </time>
  </p>
  {{ parent() }}
{% endblock %}

{% block node_bottom %}
  {% embed "@retraitespopulaires/node/partials/attached_documents.html.twig" with {'documents': node.field_document_news, 'theme':node.field_profession.entity.tid.value|theme_profession} %}{% endembed %}

  {% embed "@retraitespopulaires/node/partials/attached_files.html.twig" with {'files': node.field_file_news, 'theme':node.field_profession.entity.tid.value|theme_profession} %}{% endembed %}
{% endblock %}
