{% extends "@retraitespopulaires/node/node--page.html.twig" %}

{% block node_bottom_outer %}
  <div class="clearfix">
    {{ bamboo_render_block('rp_mortgage_calculator_block') }}
  </div>
  <div class="spacer spacer-md"></div>
{% endblock %}
