{% extends "@retraitespopulaires/node/node.html.twig" %}

{%
  set classes = [
    node.bundle|clean_class,
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

{% set node_body_classes = [
  'entity-body',
] %}

{% block node_bottom %}
  {% embed "@retraitespopulaires/node/partials/attached_files.html.twig" with {'files': node.field_file_building} %}{% endembed %}

  {% embed "@retraitespopulaires/node/partials/attached_plans.html.twig" with {'plans': node.field_file_plan} %}{% endembed %}

  <!-- Visite(s) virtuelle(s) -->
  {% embed "@retraitespopulaires/node/partials/attached_visits.html.twig" with {'visits': node.field_virtual_visit} %}{% endembed %}

  <!-- Image(s) virtuelle(s) -->
  {% embed "@retraitespopulaires/node/partials/gallery.html.twig" with {title: 'Images virtuelles', 'images': node.field_virtual_image} %}{% endembed %}

  {% if node.field_file_building is not empty or node.field_file_plan is not empty or node.field_virtual_visit is not empty or node.field_virtual_image is not empty %}
    <div class="spacer spacer-md"></div>
  {% endif %}
{% endblock %}
