{% extends "@retraitespopulaires/node/node.html.twig" %}

{% block node_top %}{% endblock %}

{% block node_bottom_outer %}
  {{ load_block('rp_libre_passage_plp_block') }}
  <div class="spacer spacer-md"></div>
{% endblock %}
