{% extends "@retraitespopulaires/node/node.html.twig" %}

{% block node_bottom_outer %}
  <!-- Form -->
  <div class="spacer"></div>
  <div class="background-overflow">
    <div class="spacer"></div>
    <div class="row">
      <div class="{{ node_content_width|join(' ') }}">
        <div class="card">
          <div class="card-body">
          {% block node_form %}
          {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
