{% extends "@retraitespopulaires/node/node.html.twig" %}

{% block node_top %}{% endblock %}

{% block node_bottom_outer %}
  {{ load_block('rp_mortgage_table_rate_block', { 'type': "Prêts hypothécaires standard" }) }}
  <div class="spacer spacer-md"></div>
{% endblock %}
