<div ng-cloak class="navigation-bar row ng-cloak" ng-if="showNavigationBar()">
   <div class="col-md-12 ng-cloak" ng-cloak>
      <nav ng-class="{'subtheme-navigation-bar-visible': !isThemeSelected('overview')}" class="navbar navbar-static-top bs-docs-nav ng-cloak" role="navigation" id="navigationBar" ng-cloak >
         <div class="row theme-navigation-row">
            <div class="col-md-12 col-sm-12">
               <nav role="navigation" id="ThemeNavigationBar" class="theme-navigation-bar navbar-collapse ng-cloak theme-navigation-border-clear" ng-cloak>
                  <ul class="nav navbar-nav ng-cloak" ng-cloak>
                     <li id="ThemeOverview" class="hidden-xs" ng-class="{'active':isThemeSelected('overview')}">
                        <a ng-href="{{ getRouteForOverview() }}" ng-click="navigateToRoot('', $event)" ng-show="notEmpty('Application.Overview')" ng-bind-html="'Application.Overview'|i18n"></a>
                     </li>
                     <li ng-repeat="theme in availableThemes() track by $index" id="{{theme.id}}" ng-class="{'active':isThemeSelected(theme.name)}">
                        <a ng-href="{{ getRouteForTheme(theme) }}" ng-click="initLoadingBar(theme.name, $event)" ng-show="notEmpty(theme.themeEnumKey)" ng-bind-html="getLocalizedString(theme.themeEnumKey)"></a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>

         <div class="row subtheme-navigation-row">
            <div class="col-md-12 col-sm-12">
               <nav role="navigation" id="SubThemeNavigationBar" class="sub-theme-navigation-bar">
                  <ul ng-repeat="theme in availableThemes() track by $index" id="{{theme.subThemesId}}" class="nav navbar-nav ng-cloak" ng-show="isThemeSelected(theme.name)" ng-cloak>
                     <li id="{{theme.subThemeMainId}}" class="hidden-xs" ng-class="{'active':isThemeMainSelected(theme.name)}">
                        <a ng-href="{{ getRouteForTheme(theme) }}" ng-click="initLoadingBar(theme.name, $event)" ng-bind-html="getLocalizedString(theme.themeEnumKey)"></a>
                     </li>
                     <li ng-repeat="calcByTheme in availableCalculatorsByTheme(theme.name) track by $index" id="{{calcByTheme.calculator}}" ng-class="{'active':isSubThemeSelected(calcByTheme.calculator)}">
                        <a id="{{theme.name}}_{{calcByTheme.calculator}}" ng-href="{{ getRouteForCalculator(theme, calcByTheme) }}" ng-click="initLoadingBar(theme.name + '/' + calcByTheme.calculator, $event)" ng-bind-html="calcByTheme.calculatorEnumKey|i18n"></a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </nav>
   </div>
</div>