@font-face {
  font-family: 'logismataicons';
  src: url("../resources/fonts/logismataicons.eot?z8jipl");
  src: url("../resources/fonts/logismataicons.eot?z8jipl#iefix") format("embedded-opentype"), url("../resources/fonts/logismataicons.ttf?z8jipl") format("truetype"), url("../resources/fonts/logismataicons.woff?z8jipl") format("woff"), url("../resources/fonts/logismataicons.svg?z8jipl#logismataicons") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'retraitespopulaires-icon';
  src: url("../resources/fonts/retraitespopulaires-icon.woff?z8jipl") format("woff");
  font-weight: normal;
  font-style: normal; }
.generic-icon, [class^="icon-"],
[class*=" icon-"] {
  
  font-family: 'logismataicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.icon-home:before {
  content: "\e001"; }
.icon-home2:before {
  content: "\e002"; }
.icon-home3:before {
  content: "\e003"; }
.icon-paragraph:before {
  content: "\e010"; }
.icon-file-text2:before {
  content: "\e020"; }
.icon-file-text:before {
  content: "\e021"; }
.icon-bubbles5:before {
  content: "\e022"; }
.icon-bubbles6:before {
  content: "\e023"; }
.icon-bubble-dots:before {
  content: "\e024"; }
.icon-bubble-dots2:before {
  content: "\e025"; }
.icon-thumbs-o-up:before {
  content: "\e040"; }
.icon-thumbs-o-down:before {
  content: "\e041"; }
.icon-thumbs-down:before {
  content: "\e042"; }
.icon-thumbs-up:before {
  content: "\e043"; }
.icon-flag5:before {
  content: "\e044"; }
.icon-flag6:before {
  content: "\e045"; }
.icon-search:before {
  content: "\e050"; }
.icon-folder-open:before {
  content: "\e051"; }
.icon-user:before {
  content: "\e060"; }
.icon-user-plus:before {
  content: "\e061"; }
.icon-user-minus:before {
  content: "\e062"; }
.icon-question:before {
  content: "\e071"; }
.icon-info:before {
  content: "\e072"; }
.icon-info2:before {
  content: "\e073"; }
.icon-bubble-notification:before {
  content: "\e074"; }
.icon-sign-out:before {
  content: "\e080"; }
.icon-log-out:before {
  content: "\e081"; }
.icon-login:before {
  content: "\e082"; }
.icon-plus-square:before {
  content: "\e090"; }
.icon-diff-added:before {
  content: "\e091"; }
.icon-minus-square:before {
  content: "\e092"; }
.icon-diff-removed:before {
  content: "\e093"; }
.icon-cancel-circle:before {
  content: "\e094"; }
.icon-cancel-circle2:before {
  content: "\e095"; }
.icon-trash:before {
  content: "\e100"; }
.icon-trash-o:before {
  content: "\e101"; }
.icon-rotate-left:before {
  content: "\e102"; }
.icon-undo:before {
  content: "\e102"; }
.icon-pencil:before {
  content: "\e110"; }
.icon-pencil2:before {
  content: "\e111"; }
.icon-marker:before {
  content: "\e112"; }
.icon-sound-mix:before {
  content: "\e120"; }
.icon-sound-mix2:before {
  content: "\e121"; }
.icon-variant:before {
  content: "\e122"; }
.icon-split:before {
  content: "\e123"; }
.icon-shield:before {
  content: "\e130"; }
.icon-calculator:before {
  content: "\e140"; }
.icon-star:before {
  content: "\e150"; }
.icon-star-o:before {
  content: "\e151"; }
.icon-map-marker:before {
  content: "\e152"; }
.icon-database:before {
  content: "\e160"; }
.icon-floppy-o:before {
  content: "\e161"; }
.icon-save:before {
  content: "\e161"; }
.icon-print:before {
  content: "\e170"; }
.icon-angle-left:before {
  content: "\e180"; }
.icon-angle-right:before {
  content: "\e181"; }
.icon-angle-up:before {
  content: "\e182"; }
.icon-angle-down:before {
  content: "\e183"; }
.icon-single:before {
  content: "\e200"; }
.icon-couple:before {
  content: "\e201"; }
.icon-concubinage:before {
  content: "\e202"; }
.icon-envelope-o:before {
  content: "\e210"; }
.icon-envelope:before {
  content: "\e211"; }
.icon-phone:before {
  content: "\e212"; }
.icon-wallet:before {
  content: "\e220"; }
.icon-budget:before {
  content: "\e221"; }
.icon-disability:before {
  content: "\e264"; }
.icon-retirement:before {
  content: "\e265"; }
.icon-death:before {
  content: "\e266"; }
.icon-credit-card-alt:before {
  content: "\e222"; }
.icon-credit-card:before {
  content: "\e223"; }
.icon-stats-growth:before {
  content: "\e224"; }
.icon-stats-decline:before {
  content: "\e225"; }
.icon-line-chart:before {
  content: "\e226"; }
.icon-bar-chart:before {
  content: "\e227"; }
.icon-area-chart:before {
  content: "\e228"; }
.icon-area-graph:before {
  content: "\e229"; }
.icon-area-graph2:before {
  content: "\e230"; }
.icon-line-graph:before {
  content: "\e231"; }
.icon-duration:before {
  content: "\e250"; }
.icon-time:before {
  content: "\e251"; }
.icon-pie-chart3:before {
  content: "\e232"; }
.icon-pie-chart4:before {
  content: "\e233"; }
.icon-pie-chart5:before {
  content: "\e234"; }
.icon-pie-chart6:before {
  content: "\e235"; }
.icon-pie-chart2:before {
  content: "\e236"; }
.icon-pie-chart:before {
  content: "\e237"; }
.icon-pie-chart7:before {
  content: "\e238"; }
.icon-pillar2:before {
  content: "\e260"; }
.icon-pensionage:before {
  content: "\e261"; }
.icon-graduation-cap:before {
  content: "\e270"; }
.icon-study:before {
  content: "\e271"; }
.icon-financecoach:before {
  content: "\e272"; }
.icon-expand:before {
  content: "\e280"; }
.icon-lang-de:before {
  content: "\e290"; }
.icon-lang-fr:before {
  content: "\e291"; }
.icon-lang-it:before {
  content: "\e292"; }
.icon-lang-en:before {
  content: "\e293"; }
.icon-country-ch:before {
  content: "\e310"; }
.icon-country-li:before {
  content: "\e311"; }
.icon-chf:before {
  content: "\e300"; }
.icon-percent:before {
  content: "\e301"; }
.icon-facebook:before {
  content: "\e400"; }
.icon-facebook2:before {
  content: "\e401"; }
.icon-google-plus:before {
  content: "\e402"; }
.icon-google-plus2:before {
  content: "\e403"; }
.icon-twitter:before {
  content: "\e404"; }
.icon-youtube:before {
  content: "\e405"; }
.icon-youtube2:before {
  content: "\e406"; }
.icon-youtube3:before {
  content: "\e407"; }
.icon-cancel-circle2:before {
  content: "\e095"; }
.icon-minus:before {
  content: "\e902"; }
.icon-stop2:before {
  content: "\e901"; }
