<div class="list-group-field">
   <div class="form-group">
      <label for="{{ fieldId}}" class="custom-field-label" ng-bind-html="label"></label>
      <div class="list-group">
         <div class="list-group-item-container">
            <a class="list-group-item ellipsis" 
               href="" 
               ng-class="this.active" 
               ng-click="itemSelected(item, $event)" 
               ng-repeat="item in ngModel track by $index"
               ng-bind-html="showItem(item)">
            </a>
         </div>
      </div>
   </div>
</div>
