{#
 Variables:
  - variables.type: (string)
  - variables.headers: (array of string)
  - variables.rates: (array of Rate)
  - variables.date: (DateTime)
#}

{% if variables.rates %}
  {% set formatted_date = variables.date|date_format('F Y') %}

  {% set variables_rates = variables.rates %}
  {% if variables_rates %}
  <table class="table table-wide tablesaw tablesaw-stack table-hypotheque" data-tablesaw-mode="stack" id="table-{{ variable.type|clean_id }}-variables">
    {% if formatted_date %}
      <caption>{% trans %}Taux de {{ formatted_date }}{% endtrans %}</caption>
    {% endif %}
    <thead>
      <tr>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Taux{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{% trans %}Taux d'avance{% endtrans %}</td>
        <td>80%</td>
      </tr>
      {% for rate in variables_rates %}
      <tr>
        <td>{{ rate.getName() }}</td>
        <td>{{ rate.firstRate ? rate.firstRate|format_pourcent : '' }} {% trans %}net de commission{% endtrans %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endif %}
